@import 'src/style/themes/kids-first/colors';

.dataFilesTabWrapper {
  display: flex;

  :global(.ant-pagination) {
    margin-bottom: 0;
  }

  .unauthorizedLock {
    color: $gray-6;
  }

  .authorizedLock {
    color: $green-7;
  }
}
