.advancedFacetViewWrapper {
  padding: 0px;
}
.advancedFacetViewWrapper .facetViewWrapper .treeViewPanel {
  border-bottom: none;
}
.advancedFacetViewWrapper .facetViewNode .aggregation-card .bucket .bucket-item {
  box-sizing: border-box;
}
.dropDownHeader {
  z-index: 100;
}

.dropDownButton {
  background-color: #fff;
}
