.advancedFacetViewWrapper {
  padding: 0px;
}
.advancedFacetViewWrapper .facetViewWrapper .treeViewPanel {
  border-bottom: none;
}
.afvModalContent * {
  box-sizing: border-box;
}

.afvStatContainer .statContainer {
  background: none;
  padding: none;
  border: none;
}

.afvStatContainer .statContainer .stat {
  padding-left: 10px;
  padding-right: 10px;
}
