/* Disabled Google login button */
.googleDisabledLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  color: #cfcece;
  opacity: 0.75;
  margin-bottom: 16px;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  height: 40px;
  width: 240px;
}
.googleDisabledLogin:hover {
  cursor: not-allowed;
}
.googleIcon {
  height: 26px;
}
.googleIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100%;
  margin-right: auto;
  padding: 10px;
}
.googleButtonText {
  margin: 0 auto 0 6px;
  letter-spacing: 0.21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
}

/* Disabled Facebook login button */
.fbDisabledLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  color: #cfcece;
  opacity: 0.75;
  border-radius: 4px;
  height: 40px;
  width: 240px;
}
.fbDisabledLogin:hover {
  cursor: not-allowed;
}
.fbIconWrapper {
  margin-right: auto;
  height: 100%;
}
.fbIconWrapper svg {
  margin: 8px;
}
.fbButtonText {
  margin: 0 24px 0 12px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
