.biospecimenTabWrapper {
  display: flex;

  :global(.ant-pagination) {
    margin-bottom: 0;
  }

  .ncitTissueCell {
    min-width: 300px;
  }
}

.mondoList {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.tooltip {
  border-bottom: 1px dotted;
}
