.memberLink:focus-visible .memberCard {
  border: 1px solid var(--gray-8);
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--gray-8);
}

.userGravatar {
  width: 56px;
  height: 56px;
}

.memberCard {
  width: 100%;
  text-align: center;
  height: 100%;
}
.memberCard:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
}
.memberCard .memberCardName {
  margin: 0;
  margin-top: 8px;
}
