@import 'src/style/themes/kids-first/layout';
@import 'src/style/themes/kids-first/colors';

.memberLink {
  &:focus-visible {
    .memberCard {
      border: 1px solid $gray-8;
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $gray-8;
    }
  }
}

.userGravatar {
  width: 56px;
  height: 56px;
}

.memberCard {
  width: 100%;
  text-align: center;
  height: 100%;

  &:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  }

  .memberCardName {
    margin: 0;
    margin-top: 8px;
  }
}
