.dashboardCard {
  height: 100%;
  max-height: 400px;
}

@media (min-width: 2000px) {
  .cardColxxl5 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 2500px) {
  .cardColxxl5 {
    display: block;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
