@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/theme.template';

.dataExplorationLinksWrapper {
  .dataExplorationLinksCard {
    background-color: $cyan-8 !important;
    border: none;
    padding-bottom: 16px !important;

    .releaseNoteBtn {
      height: unset;
      padding: 0;
      display: flex;
      align-items: center;
      color: $cyan-4;
      display: none;
    }

    .customCol {
      display: flex;
      min-width: 150px;

      @media screen and (max-width: 1150px) {
        flex: unset !important;
        width: 50%;
      }

      @media screen and (max-width: 478px) {
        flex: unset !important;
        width: 100%;
      }
    }

    div[class$='-card-body'] {
      padding-top: 16px;
    }

    div[class$='-card-head'] {
      border-bottom: none;
    }

    div[class$='-head-title'] {
      padding-bottom: 0 !important;

      :global(.ant-typography) {
        color: $gray-1;
      }
    }

    .dataReleaseIcon {
      margin-top: -1px;
      color: $cyan-4;
      font-size: $data-release-icon-font-size;
    }

    .dataReleaseStatsLabel {
      color: $gray-1;

      :global(.wrapper__label) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
