@import 'src/style/themes/default/colors';

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $cyan-7;
  max-width: 833px;
  margin: auto;

  .loginStats {
    background-color: $cyan-8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    margin: 48px 0px;

    hr {
      border: none;
      border-top: 1px solid $cyan-7;
      width: 100%;
    }

    h4 {
      color: $cyan-4;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin: 8px 0px;
    }

    > div {
      width: 100%;
    }

    .loginStatsContainer {
      justify-content: space-between;
      display: flex;
      margin-top: 24px;

      .loginPageIconColor {
        fill: $cyan-5;
      }

      .loginStatsLabel {
        color: $gray-1;

        :global(.wrapper__label) {
          font-size: 2.4rem;
          line-height: 2.4rem;
        }
      }
    }
  }

  .loginHeader {
    display: flex;
    align-items: center;
  }

  .loginButtons {
    display: flex;

    :global(.ant-btn-primary) {
      background-color: $gray-1;
      border: 1px solid $gray-1;
      border-radius: 2px;
      color: $cyan-7;

      &:hover {
        background-color: $gray-2;
      }

      &:active {
        background-color: $gray-3;
        border: 1px solid $gray-3;
      }
    }

    :global(.ant-btn-default) {
      background-color: $cyan-7;
      border: 1px solid $cyan-1;
      box-sizing: border-box;
      border-radius: 2px;
      color: $cyan-1;
      margin-left: 16px;

      &:hover {
        background-color: $cyan-6;
      }
    }

    :global(.ant-btn-primary):focus,
    :global(.ant-btn-default):focus {
      background-color: $cyan-8;
      border: 1px solid $cyan-1;
      color: $gray-1;
    }
  }

  h1,
  h2,
  > span {
    color: $gray-1;
    margin: 24px 0px;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  > span {
    margin-top: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    margin-left: 16px;
  }
}
