{
  "extends": "react-app",
  "plugins": ["react-hooks"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "default-case": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
