# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing and coverage reports
/coverage
/.nyc_output

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

.vscode/launch.json
.vscode/extensions.json

.cache/

public/locales/*

# local certificates are generated when testing production build
*.pem
