.fenceAuthorizedStudiesContainer {
  font-weight: bold;
  padding: 15px;
  border-collapse: collapse;
  overflow-y: auto;
  max-height: 500px;
}

.itemRowContainer {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 50px;
  padding-right: 10%;
}

.itemRowContainer:not(:last-child) {
  border-bottom: solid 1px #cacbcf;
}
