.tableToolbar-toolbarItem {
  min-height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.tableToolbar-toolbarButton {
  color: #008199;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.tableToolbar-toolbarButton:hover {
  cursor: pointer;
}

.tableToolbar-chevronIcon {
  color: #008199;
  fill: #008199;
  margin-left: 6px;
}

.tableToolbar-chevronIcon {
  fill: #008199;
  margin-right: 7px;
}

.tableToolbar-dropdownHeader {
  position: relative;
  white-space: nowrap;
}

.tableToolbar-dropdownContent {
  position: absolute;
  background: white;
  min-width: 100%;
  z-index: 200;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  top: 100%;
  left: auto;
  right: 0;
}
