.ptv-error-message {
  margin: 0 30px 0 30px;
}

$font-ajustment: 1.3rem;

.aggregation-card {
  .toggle-button,
  .bucket-item {
    font-size: $font-ajustment;

    .bucket-count {
      font-size: $font-ajustment;
    }
  }

  .showMore-wrapper {
    font-size: $font-ajustment;
  }
}
