.rowCss {
  display: 'flex';
  flex-wrap: 'nowrap';
  align-items: 'flex-start';
  align-content: 'stretch';
}

.participantTable .nbFilesLink img {
  top: 2px;
  position: relative;
}

.participantTable div.rt-noData {
  display: none !important;
}

.export-btn {
  margin-right: 5px;
  margin-left: 8px;
}

.cols-picker-btn {
  margin-right: 8px;
  margin-left: 8px;
}

.download-btn {
  margin-right: 8px;
  margin-left: 8px;
}

.action-btns-layout {
  display: flex;
  align-items: center;
}