@import 'style/themes/default/_colors';

.save-set-option-menu {
  #participant-count {
    &:hover {
      cursor: default;
    }

    &.over {
      color: $red-5;
    }

    img {
      margin-right: 8px;
    }

    #info {
      margin-left: 1rem;
    }
  }

  .save-set-option {
    color: #515885;
    display: flex;
    align-items: center;

    .anticon {
      font-size: 14px;
    }

    &[aria-disabled='true'] {
      &:hover {
        color: $body-3;
      }
      color: $body-3;
    }
  }
}
