@import '../../../theme/vars';

.virtual-Studies-categories {
  .category-button {
    align-items: center;
    border-right: 1px solid #d4d6dd;
    cursor: pointer;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 1;

    &:hover {
      background-color: $backgroundGrey;
    }

    &.active {
      background-color: $backgroundGrey;
      box-shadow: 0 0 5.9px 0.1px $lighterShadow;
    }
  }

  h3.title {
    margin: 7px 0 0 0;
    text-align: center;
    font-family: $defaultFont;
    font-size: 13px;
    font-weight: 600;
    color: $filterPurple;
  }
}
