@import 'src/style/themes/kids-first/colors';

.headerLink {
  .headerBtn {
    border: none;
    color: $purple-6;
    padding: 4px 8px;
    margin: 0 5px;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $purple-1;
      border: none;
      color: $purple-6;
    }

    &:focus-visible {
      background-color: $purple-1;
      border: 1px solid $purple-7;
      color: $purple-7;
      box-shadow: 0 0 0 2px $gray-1, 0 0 0 4px $purple-7;
    }
  }
}
