@import '../../../theme/vars';

.search-by-id-modal {
  min-height: 75%;
  max-height: 95%;

  & .body {
    section {
      margin-bottom: 1.5em;
    }

    .sbi-description {
      p {
        margin: 0;
      }
    }

    .sbi-id-input {
      /* TODO JB : remove unused / redundant styles */
      box-sizing: border-box;

      background: $white;
      border-radius: 10px;

      border: solid 2px lightgrey;
      padding: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      & textarea {
        border: none;
        flex: 1 1 0%;
        min-height: 100px;
      }
    }
  }
}
