@import '../../../theme/vars';

.search-by-id-modal {
  max-height: 95%;

  & .body {
    & section:not(:last-child) {
      margin-bottom: 1em;
    }

    & .sbi-description {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      & p {
        margin: 0;
      }

      & button.clear {
        padding: 0.1em 1em;
      }
    }

    & .sbi-id-input {
      /* TODO JB : remove unused / redundant styles */
      box-sizing: border-box;

      background: $white;
      border-radius: 10px;

      border: solid 2px lightgrey;
      padding: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      & textarea {
        border: none;
        flex: 1 1 0;
      }
    }

    & .badge {
      font-size: 12px;
      line-height: 20px;
      height: 20px;
    }
  }

  & .ReactTable .input-type {
    text-transform: capitalize;
  }

  & .fix-footer {
    /* quick fix - possible solution: remove duplicated/refactored modal */
    margin: 0;
    justify-content: flex-end;
    box-shadow: none;
  }

  & .view-results-btn {
    margin-left: 8px;
  }
}
