@import 'style/themes/default/_colors';

.topContainer {
  color: #515885;
  display: grid;
  grid-template-columns: 34% auto;
  height: 100%;

  > div {
    margin-left: 48px;

    > div {
      justify-content: space-between;
    }

    .topLeftContainer {
      border-bottom: thin solid $border-color-base;
      margin-bottom: 24px;
      padding-bottom: 24px;

      .queryBuilderIcon,
      svg {
        height: 34px;
        font-size: 34px;
        vertical-align: middle;
        width: auto;

        path {
          fill: $purple-6;
        }
      }

      & > :last-child {
        svg {
          @extend .queryBuilderIcon;
          path {
            fill: $geekblue-7;
          }
        }
      }
    }

    .buttomLeftContainer {
    }
  }

  & > :first-child {
    line-height: 22px;
    border-right: thin solid $border-color-base;
    margin-left: 0;
  }

  .summaryItem {
    justify-content: left;
    margin-bottom: 10px;

    :first-child {
      width: 25%;
    }
  }

  .label {
    color: $body-2;
    font-size: 12px;
  }

  .value {
    color: $body-1;
    font-weight: 500;
  }
}
