@import 'src/style/themes/default/colors';

.pageContent {
  & > div > * {
    margin-right: 12px;
  }

  :global(.ant-tag) {
    align-self: center;
  }
}

.variantTag {
  color: $green-8;
  background-color: $green-2;
}

.tabsHolder {
  background-color: $layout-bg-base;
}
