.grid-top-container {
  display: grid;
  grid-template-columns: 34% auto;
  height: 100%;
}

.grid-top-container-item {
  text-align: left;
  color: #515885;
  size: 10px;
  line-height: 22px;
  font-weight: 500;
}

.query-builder-icon {
  height: 18px;
  vertical-align: middle;
}
