/**********************************************************/
/* Tabs */
/**********************************************************/
.tabs-options {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  border-bottom: solid 3px #404c9a;
  padding-left: 10px;
}

.tabs-option {
  border: 1px solid #d4d6dd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;

  width: 100%;
  margin-right: 10px;
  padding: 5px;

  background-color: #f4f5f8;
  color: #2b388f;
  cursor: pointer;
}
.tabs-option span {
  width: 80%;
}
.tabs-option-badge {
  background-color: #404c9a;
  color: #f4f5f8;
  font-family: Open Sans, sans-serif;
  font-weight: 500;
  text-align: center;
  min-width: 25px;
  line-height: 25px;
  padding: 0 0.4em;
  border-radius: 50px;
  position: relative;
  height: 25px;
}
.tabs-option.active-tab {
  border: none;
  background-color: #404c9a;
  color: #fff;
}
.tabs-option.active-tab .tabs-option-badge {
  background-color: #f4f5f8;
  color: #404c9a;
}
