.pieChartContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dynamic-content {
  height: 100%;
}

.cardBodyDataChartType {
  height: 100%;
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
}

.wrapperDataTypeChart {
  width: 50%;
}

.ontology-sunburst-card {
  grid-column: span 2;
}

.ant-card-head-title {
  padding: 0;
}

.ant-card-head {
  padding: 0;
}

.ant-card-head-title > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.ant-card-body {
  padding: 24px 0;
}

.ant-card.core-grid-card {
  display: flex;
  flex-direction: column;
  min-height: 325px;
  height: 400px;
}

.core-grid-card .ant-card-head {
  margin: 2px 20px;
}

