@import 'src/style/themes/kids-first/layout';

.studiesPage {
  display: flex;

  .studiesWrapper {
    width: 100%;
    padding: $default-page-content-padding;

    .tableWrapper {
      width: 100%;
    }

    .title {
      margin: 0;
    }
  }
}
