.actionButton {
  outline: none;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  color: #fff;
  padding: 0px 16px;
  line-height: 1.86;
  letter-spacing: 0.2px;
  border-radius: 19px;
  background-color: #009bb8;
  white-space: nowrap;
  text-transform: uppercase;
}
.actionButton:hover {
  background-color: #19a9c4;
  color: #ffffff;
}
.actionButton:link {
  text-decoration: none;
}
.actionButton:disabled,
.actionButton:disabled:hover {
  cursor: default;
  color: rgb(107, 98, 98);
  background-color: rgb(212, 214, 221);
}

.baseButton {
  outline: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 14px;
  background-color: #009bb8;
  color: #fff;
}
.baseButton:disabled,
.baseButton:disabled:hover {
  cursor: default;
  background-color: #c5dee3;
}

.bigWhiteButton {
  background: #ffffff;
  border: 1px solid #d4d6dd;
  border-radius: 25px;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.baseButtonWithIcon {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  letter-spacing: 0.2px;
  padding: 8px 10px;
  border-radius: 15px;
  box-shadow: none;
}
.baseButtonWithIcon:disabled,
.baseButtonWithIcon:disabled:hover {
  cursor: default;
}

.disabledButtonStyles:disabled,
.disabledButtonStyles:hover:disabled {
  background-color: #f4f5f8;
  color: #cacbcf;
  cursor: not-allowed;
}

.whiteButton {
  border: 1px solid #cacbcf;
  color: #008199;
  background-color: #ffffff;
}
.whiteButton a {
  text-decoration: none;
  color: #008199;
}
.whiteButton .icon {
  margin-right: 5px;
}
.whiteButton:hover {
  background-color: #009bb8;
  color: #ffffff;
}
.whiteButton:hover .icon {
  background-color: #009bb8;
  color: #ffffff;
}
.whiteButton:hover a {
  color: #ffffff;
}

.tealActionButton {
  border: 1px solid #009bb8;
  border-radius: 18px;
  background-color: #009bb8;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.tealActionButton a {
  color: #ffffff;
  text-decoration: none;
}
.tealActionButton:hover {
  background-color: #19a9c4;
}
.tealActionButton:disabled,
.tealActionButton:hover:disabled {
  border: #d4d6dd;
  background-color: #d4d6dd;
}

.largeTealActionButton {
  padding: 13px 25px;
  font-size: 14px;
  border-radius: 18px;
}
