.messageWrapper {
  position: relative;
  align-items: left;
  background-color: #e8f7fd;
  border-left: #22afe9;
  padding: 10px;
  margin-bottom: 1em;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}
.messageWrapper.error {
  background-color: #f9dee1;
  border-left: #e45562;
}
.messageWrapper.warning {
  background-color: #fff4e9;
  border-left: #ff9427;
}
.messageWrapper.success {
  background-color: #e6f3f5;
  border-left: #009bb8;
}
.messageWrapper.info {
  background-color: #e8f7fd;
  border-left: #22afe9;
}

.promptMessageHeading {
  padding-right: 10px;
  font-size: 20px;
}

.promptMessageContent {
  padding-top: 2px;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
}
