@import 'src/style/themes/kids-first/colors';

.filtersContainer {
  width: 100%;
  max-width: 1200px;
}

.searchBarContainer {
  width: 100%;

  .filterContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.filterMultiSelect {
  width: 300px;
}

.filterTag {
  display: flex;
  align-items: center;
  background-color: $cyan-7;
  color: $gray-1;
  > * {
    color: $gray-1;
  }

  .filterTagText {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
