.filtersContainer {
  width: 100%;
  max-width: 1200px;
}

.searchBarContainer {
  width: 100%;
}
.searchBarContainer .filterContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.filterMultiSelect {
  width: 300px;
}

.filterTag .filterTagText {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
