.studies {
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    padding: 24px 24px 80px;
    width: 100%;
}

.studies .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.studies .content .title {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 100%;
}

.studies .content .contentContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.studies .content .contentContainer .studiesData {
    background: var(--geekblue-1);
    border-radius: 20px 0 0 20px;
    display: flex;
    max-width: 480px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    text-wrap: wrap;
    flex-shrink: 1;

}

.studies .content .contentContainer .titleContainer {
    display: flex;
    align-items: center;
}

.studies .content .contentContainer .titleContainer h1 {
    margin: 0;
}

.studies .content .contentContainer .subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.studies .content .contentContainer .carouselContainer {
    border-radius: 0 20px 20px 0;
    background: radial-gradient(50% 50% at 50% 50%, var(--primary-gradient) 0%, rgba(34, 43, 92, 0.60) 100%), var(--primary-gradient);
    padding: 48px 32px;
    flex-shrink: 1;
}

.carouselContainer :global(.ant-carousel) {
    width: 100%;
}

.carouselContainer {
    height: 100%;
    align-content: center;
}

@media (max-width: 1200px) {
    .studies {
        padding: 24px 0;
    }

    .studies .content {
        max-width: 100%;
        width: 100%;
        padding: 0 24px;
    }

    .contentContainer {
        justify-content: center;
        flex-direction: column;
    }

    .studies .content .contentContainer .studiesData {
        border-radius: 20px 20px 0 0;
    }

    .studies .content .contentContainer .carouselContainer {
        border-radius: 0 0 20px 20px;
    }

    .studies .content .contentContainer .studiesData,
    .studies .content .contentContainer .carouselContainer {
        align-items: center;
        justify-content: center;
        min-width: 100%;
    }

    .studies .content .contentContainer .carouselContainer {
        max-width: 100%;
        width: auto;
    }
}

@media (max-width: 900px) {
    .studies {
        padding-bottom: 112px;
    }

    .studies .content {
        max-width: 100%;
        width: 100%;
        padding: 0 24px;
    }

    .studies .content .title {
        text-align: center;
    }

    .contentContainer {
        justify-content: center;
        flex-direction: column;
    }

    .studies .content .contentContainer .carouselContainer {
        padding: 32px;
    }

    .studies .content .contentContainer .studiesData {
        width: auto;
    }
}