.promptMessageContainer {
}
.promptMessageContent {
  font-size: 14px;
  line-height: normal;
}
.promptMessageContent ul {
  padding-left: 18px;
}
.promptMessageContent li {
  margin-top: 5px;
}
.promptMessageHeading {
  font-weight: 500;
  font-size: 16px;
}

/*********************************************************/
/* ChartError */
/*********************************************************/
.chartErrorContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

/**********************************************************/
/* CardContentSpinner */
/**********************************************************/
.chartSpinnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.tooltip-studies-chart-container {
  min-width: 175px;
}

.tooltip-dx-chart-container {
  min-width: 50px;
}

.tooltip-dx-chart-label, .tooltip-studies-chart-label {
  text-decoration: underline;
}