.wrapper {
  background-color: #fff;
  border: solid 1px #e0e1e6;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}

.iconWrapper {
  position: relative;
  top: -25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e1e6;
  background-color: #fff;
}

.iconBackground {
  background-color: #aaaec1;
  border-radius: 50%;
  padding: 2px;
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 16px;
  color: #2b388f;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Open Sans, sans-serif;
}

.message {
  font-size: 14px;
  color: #343434;
  font-family: Open Sans, sans-serif;
  margin-bottom: 0;
}
