@import 'src/style/themes/kids-first/colors';

.collapseLikeFacet {
  .collapse {
    &,
    :global(.ant-collapse-item) {
      border: none;
      color: $geekblue-7;
    }

    div[class$='-header'] {
      color: unset !important;
      padding-top: 5.5px;
      padding-bottom: 5.5px;
      display: flex;
      align-items: center;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
