@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/layout';

.wrapper {
  padding: $default-padding;
  background-color: $gray-1;
  border: 1px solid $gray-4;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  flex-direction: column;

  .icon {
    margin-bottom: $default-padding;
  }

  .listItem {
    text-align: center;

    .text {
      font-size: 12px;
      color: $gray-8;
    }

    .tooltipsText {
      margin-left: 8px;
    }
  }
}

.externalLink {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
