@import 'style/themes/default/_colors';

.storySearchTitle {
  color: $body-1;
  font-weight: 600;
  margin-bottom: 5px;
}
.storySearchIconsDisabled {
  color: $body-3;
}

.studySearchDropdownCode {
  font-size: 1.4rem;
  color: $body-1;
}

.studySearchDropdownName {
  font-size: 1.2rem;
  color: $body-2;
}

.studyFiltersContainer {
  margin-top: 28px;
  padding-bottom: 14px;

  & > :not(:first-child) > div {
    margin-top: 16px;
  }
}
