@import 'style/themes/default/_colors';
@import 'style/themes/default/_layout';

.tableContainer {
  background-color: $card-background;
  margin-top: $default-padding;
}

.tableContainer > * {
  margin: $default-padding;
}
