@import 'style/themes/default/_colors';
@import 'style/themes/default/_layout';

.tableContainer {
  background-color: $card-background;
  margin-top: $default-padding;
}

.tableContainer > * {
  margin: $default-padding;
}

.queryBuilderIcon {
  height: 18px;
  vertical-align: middle;
  path {
    fill: $body-1;
  }
}

.tableHeader {
  margin-bottom: 16px;
}
