.cavaticaAnalyseModal {
  .authorizedFilesTag {
    margin: 0;
  }

  .studiesList {
    div[class$='-meta-description'] {
      margin-right: 12px;
    }

    :global(.ant-list-item) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.cavaticaModalWrapper {
  .treeSelectorWrapper,
  .treeSelector {
    width: 100%;
  }
}

.cavaticaTreeDropdown {
  padding: 0;

  .treeSelectEmpty {
    width: 100%;
    padding: 4px 8px;
  }

  .cavaticaTreeDropdownMenu {
    padding: 8px 4px;
  }

  .cavaticaTreeDropdownFooter {
    padding: 12px;
  }

  .cavaticaTreeDropdownDivider {
    margin: 0;
  }
}
