.ant-tree.hide-file-icon .ant-tree-switcher-line-icon span.ant-tree-switcher-noop {
  background: transparent;
}

.ant-tree.ant-tree-show-line.hide-file-icon span.ant-tree-switcher-noop {
  color: transparent;
  height: 0px;
}

.ant-tree .ant-tree-title span.ant-tag {
  color: rgba(0, 0, 0, 0.65);
}

.ant-tree .ant-tree-list .ant-tree-treenode {
  width: 100%;
}

.ant-tree .ant-tree-treenode .ant-tree-node-content-wrapper {
  flex-grow: 1;
}

.ant-tree .ant-tree-treenode .ant-tree-title {
  display: flex;
  justify-content: space-between;
}

.ant-tree .ant-tree-list {
  overflow-y: hidden;
}

.ant-tree .ant-tree-title span.ant-tag.label-document-count {
  background-color: #e0e0e0;
  height: fit-content;
}

.ant-tree-node-content-wrapper .highlight {
  background-color: #f7ed9c;
}

/*TO BE DELETED*/
.ant-tree-custom-TO-DELETE div {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px !important;
  color: #515885;
}

/*TO BE DELETED*/
.ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
  color: #a9adc0;
}

/*TO BE DELETED*/
.custom-input {
  font-family: 'Open Sans';
  color: #a9adc0;
}

/*TO BE DELETED*/
.ant-input::placeholder {
  color: #a9adc0;
}

/*TO BE DELETED*/
.ant-transfer-list-content-item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px !important;
  color: #515885;
}

/*TO BE DELETED*/
.ant-tree-checkbox-disabled .ant-tree-checkbox-inner {
  background: #f3f4f6;
  border: 1px solid #d7d8db;
  box-sizing: border-box;
  border-radius: 2px;
}

/*TO BE DELETED*/
.ant-transfer-list-body-not-found {
  color: #a9adc0;
}

/*TO BE DELETED*/
.ant-transfer-list-header {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 22px;
  color: #55565d;
}

/*TO BE DELETED*/
.ant-tag .label-document-count {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 20px;
  color: #515885;
}

/*TO BE DELETED*/
.ant-transfer-operation .ant-btn-icon-only.ant-btn-sm {
  width: 40px;
  height: 40px;
}

/*TO BE DELETED*/
.ant-tree .ant-tree-title span.ant-tag.label-document-count {
  color: #515885;
  background: #eaeaec;
}
