.withCustomHelp {
  div[class$='-item-label'] {
    padding-bottom: 0;
  }
}

.checkBoxGroup {
  width: 100%;
}

.help {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 20px;
}

.dynamicField {
  &:not(.inner) {
    margin-top: -18px;
  }

  &.inner {
    margin-bottom: 0;
  }

  &:not(.withCustomHelp) {
    div[class$='-item-label'] {
      padding-bottom: 4px;
    }
  }

  label {
    font-size: 12px;
  }
}

.haveAUserID,
.noAffiliationField,
.affiliationField,
.researchAreaField {
  padding-top: 8px;
}

.affiliationField {
  margin-bottom: 0;
}

.noMargin {
  margin: 0;
}
