.modal {
  width: 660px !important;
}

.modal :global(.ant-modal-body) {
  padding: 40px;
  background: var(--primary-gradient);
  background: radial-gradient(
      50% 50% at 50% 50%,
      var(--primary-gradient) 0%,
      rgba(34, 43, 92, 0.6) 100%
    ),
    var(--primary-gradient);
  background-repeat: no-repeat;
}

.modal :global(.ant-modal-close) {
  padding-right: 25px;
}

.closeBtn {
  display: flex;
  gap: 4px;
  color: var(--cyan-4);
  font-size: 14px;
  font-weight: 400;
}

.closeIcon {
  font-size: 16px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.logo {
  width: 117px;
  height: auto;
}

.title {
  margin-bottom: 0 !important;
  color: var(--gray-1) !important;
  font-size: 48px !important;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: var(--gray-1);
}

.subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0 !important;
  letter-spacing: 0.17px;
  color: var(--gray-1);
}
