.studyColumn {
  font-family: Open Sans, sans-serif;
  padding: 10px 10px 10px 0;
}
.studyName {
  color: #343434;
  font-size: 14px;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  margin-bottom: 5px;
}
.studyCount {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  color: #74757d;
}
.studyCodes {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #343434;
  margin-bottom: 5px;
}
.studyNumberLink {
  text-decoration: underline;
}
