.hpoTransfer div[class$=transfer-list] {
  flex: 1 1 50%;
  width: auto;
  height: auto;
  min-height: 600px;
  overflow: hidden;
}
.hpoTransfer div[class$=transfer-list] .highlight {
  background-color: yellow;
  display: inherit;
}
.hpoTransfer div[class$=transfer-list] div[class$=-list-body-customize-wrapper] {
  height: 100%;
}
.hpoTransfer div[class$=transfer-list] div[class$=-list-body-customize-wrapper] div[class^=ant-spin-] {
  height: 100%;
}
.hpoTransfer div[class$=transfer-list]:last-child div[class$=-list-body-search-wrapper] {
  display: none;
}
.hpoTransfer li[class$=-list-content-item] span[class$=-list-content-item-text] {
  flex: unset;
}
.hpoTransfer li[class$=-list-content-item] div[class$=-list-content-item-remove] {
  color: var(--gray-8);
}
.hpoTransfer :global(.ant-tree-list-holder-inner) {
  display: block !important;
}
.hpoTransfer :global(.ant-tree-treenode) {
  width: 100%;
}
.hpoTransfer :global(.ant-tree-node-content-wrapper) {
  width: 100%;
  display: block;
}
.hpoTransfer :global(.ant-tree-title) {
  display: block;
  width: 100%;
}
.hpoTransfer .phenotypeTreeCountTag {
  display: flex;
  justify-content: center;
}
.hpoTransfer .phenotypeTreeHeader {
  padding-right: 4px;
  margin-bottom: 12px;
}

.hpoTreeModalWrapper .hpoTreeModal {
  width: 90% !important;
}

.treeNodeTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
