.ant-card.cb-card-summary-chart {
  display: flex;
  flex-direction: column;
  height: 450px;
  min-height: 325px;
}

.ant-card.cb-card-summary-chart .ant-card-body {
  display: flex;
  height: 100%;

  padding: 0px 0px;
  flex-grow: 1;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
}

.summary-card-content-container {
  flex-grow: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: thin solid #f0f0f0;
}

.cb-card-summary-chart .ant-card-loading-content {
  display: 'flex';
  flex-grow: 1;
}
.cb-card-summary-chart .ant-card-head {
  min-height: auto;
  border-bottom: none;
  margin: 10px 22px;
}
