@import '../../../style/themes/default/colors';
@import '../../../style/themes/default/global';

.user-sets-table {
  .ant-btn-text {
    color: $greyScale11;
  }
  .ant-btn-text:hover {
    color: $greyScale11;
  }
  .ant-table-tbody > tr > td {
    padding: 8px 8px;
  }
  .ant-table-body {
    overflow-y: auto !important;
  }

  .ant-table-thead > tr > th {
    font-family: $defaultFont;
    padding: 8px 8px;
    font-weight: 600;
  }
}

.save-sets-participants-count {
  padding-left: 7px;
  color: #b5469e;
}

.save-sets-participants-count:hover {
  text-decoration: underline;
}

.count-button {
  justify-content: flex-end;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.name-columns {
  display: inline-flex;
  align-items: center;
}

.participant-set-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-set-table-name {
  font-family: $defaultFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px !important;
  color: #515885;
}

.save-set-column-name {
  display: inline-flex;
  align-items: center;
}

.edit-icon {
  padding-left: 3px;
}
