.ant-table-tbody > tr > td {
  padding: 8px 8px;
}

.ant-btn-text {
  color: #a9adc0;
}

.ant-btn-text:hover {
  color: #7d84a6;
}

.save-sets-participants-count {
  padding-left: 6.67px;
  color: #b5469e;
}

.save-sets-participants-count:hover {
  text-decoration: underline;
}

.count-button {
  justify-content: flex-end;
  padding: 0;
  width: 100%;
}

.name-columns {
  display: inline-flex;
  align-items: center;
}

/*TO BE DELETED*/
.ant-tree-custom-TO-DELETE div {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px !important;
  color: #515885;
}

.ant-table-thead > tr > th {
  font-family: 'Open Sans';
  padding: 8px 8px;
  font-weight: 600;
}

.participant-set-spinner-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-set-table-name{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px !important;
  color: #515885;
}
