.mainWrapper {
  width: 670px;
}

.termsAndConditionsWrapper {
  width: 100%;

  .mainTitle {
    text-align: left;
    color: white;
  }

  :global(.ant-typography) {
    margin: 0px;
  }

  .cardWrapper {
    .card {
      padding: 12px;

      div[class$='-body'] {
        padding: 24px;
      }
    }
  }

  .termsCardHeader {
    padding: 12px;
    display: flex;
    justify-content: space-between;

    .lastUpdateDate {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .termsListWrapper {
    max-height: 380px;
  }
}

.termsConditionsFooter {
  display: flex;
  justify-content: end;
}

.link {
  text-decoration: underline;
}