.mainWrapper {
  width: 670px;
}

.termsAndConditionsWrapper {
  width: 100%;
}
.termsAndConditionsWrapper .mainTitle {
  text-align: left;
  color: white;
}
.termsAndConditionsWrapper :global(.ant-typography) {
  margin: 0px;
}
.termsAndConditionsWrapper .cardWrapper .card {
  padding: 12px;
}
.termsAndConditionsWrapper .cardWrapper .card div[class$=-body] {
  padding: 24px;
}
.termsAndConditionsWrapper .termsCardHeader {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.termsAndConditionsWrapper .termsCardHeader .lastUpdateDate {
  font-size: 14px;
  font-weight: 400;
}
.termsAndConditionsWrapper .termsListWrapper {
  max-height: 380px;
}

.termsConditionsFooter {
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: underline;
}
