@import 'src/style/themes/kids-first/layout';

.dashboardWrapper {
  width: 100%;
  padding: $default-page-content-padding;

  .dataIntroWrapper {
    width: 100%;
  }

  .greeting {
    margin: 0;
  }
}
