.sunburstChart {
  width: 100% !important;
  padding: 12px;
}

.sunburstRowWrapper {
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.spinnerWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.spinnerWrapper .spinner {
  display: flex;
}

.previewMode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
