// COLOR BY ANTD NAME
@geekblue-7: #2b388f;
@body-1: #383f72;
@gray-1: #ffffff;
@gray-3: #f4f5f8;
@gray-5: #eaeaec;

@layout-sider-background: @gray-3;
@card-background: @gray-1;

// BODY
@layout-body-background: @gray-3;

// COLOR CATEGORY
@primary-color: #383f72;

// BORDER
@border-color-base: @gray-5;

//Buttons
@btn-primary-bg: #009bba;
@btn-primary-color: #ffffff;
@btn-default-color: #009bba;
@btn-danger-bg: #d82030;
@btn-danger-border: #d82030;

//Heading - Title
@heading-color: @geekblue-7;
@heading-color-light: #74757d;

// LINK
@link-color: #90278e;

// Tag
@tag-default-bg: #404c9a;
@tag-default-color: #fff;

// Tabs
@tabs-highlight-color: #a6278f;
@tabs-color: #515885;

//Popover
@popover-color: #515885;

//Table
// @table-header-bg: #f9f9fb; //@background-color-light

@badge-color: #515885;

@badge-new-color: #52c41a;
