// COLOR BY ANTD NAME

@body-1: #383f72;
@body-3: #8a8da8;

// CYAN
@cyan-5: #20b1c7;
@cyan-6: #009bba;
@cyan-7: #007694;

// GEEKBLUE
@geekblue-2: #c5cbe8;
@geekblue-7: #2b388f;

// GRAY
@gray-1: #ffffff;
@gray-2: #f9f9fb;
@gray-3: #f3f4f6;
@gray-4: #eaeaec;
@gray-5: #d7d8db;
@gray-7: #868892;
@gray-8: #00546e;

// GREEN
@green-6: #52c41a;

// ORANGE
@orange-5: #f79122;

// PURPLE
@purple-2: #e6bddc;

// RED
@red-5: #dd1f2a;
@red-8: #910616;

@layout-bg-base: #f4f5f8;
@layout-sider-background: @gray-3;
@card-background: @gray-1;

// BODY
@layout-body-background: @gray-3;

// COLOR CATEGORY
@primary-color: #383f72;

// BORDER
@border-color-base: @gray-4;

//Buttons
@btn-primary-bg: #009bba;
@btn-primary-color: #ffffff;
@btn-default-color: #009bba;
@btn-danger-bg: #d82030;
@btn-danger-border: #d82030;

// Checkbox
@checkbox-check-bg: @gray-1;
@checkbox-color: @cyan-7;

//Heading - Title
@heading-color: @geekblue-7;
@heading-color-light: #74757d;

// LINK
@link-color: #90278e;

// Tag
@tag-default-bg: @gray-4;
@tag-default-color: @body-1;

// Tabs
@tabs-highlight-color: #a6278f;
@tabs-color: #515885;

//Popover
@popover-color: #515885;

//Table
// @table-header-bg: #f9f9fb; //@background-color-light

@badge-color: #515885;

@badge-new-color: #52c41a;
