@import '../../../../../node_modules/antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './_colors.less';
@import './table.less';
@import './layout/sider';

//info: font-size-base: 14px;
@heading-2-size: ceil(@font-size-base * 2);
@heading-3-size: ceil(@font-size-base * 1.571);
@heading-4-size: ceil(@font-size-base * 1);
@typography-title-font-weight: 500;

.@{btn-prefix-cls} {
  &-link {
    > span {
      text-decoration: underline;
    }
  }
}

// Filters

//Tabs
@tabs-ink-bar-color: @tabs-highlight-color;

@tab-prefix-cls: ~'@{ant-prefix}-tabs';

.@{tab-prefix-cls} {
  &-card > &-nav &-tab:not(&-tab-active) {
    background: none;
    border: 0;
  }
  &-tab {
    color: @tabs-color;

    &&-active &-btn {
      color: @tabs-highlight-color;
    }
  }
}
//Cards

h1,
h1.ant-typography {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: @heading-color;
}
