@import '../../../../../node_modules/antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './_colors.less';
@import './table.less';
@import './buttons.less';
@import './collapse.less';
@import './layout/sider';

//info: font-size-base: 14px;
@heading-2-size: ceil(@font-size-base * 2);
@heading-3-size: ceil(@font-size-base * 1.571);
@heading-4-size: ceil(@font-size-base * 1);
@typography-title-font-weight: 500;

//Tabs
@tabs-ink-bar-color: @tabs-highlight-color;

@tab-prefix-cls: ~'@{ant-prefix}-tabs';

.@{tab-prefix-cls} {
  &-card > &-nav &-tab:not(&-tab-active) {
    background: none;
    border: 0;
  }
  &-tab {
    color: @tabs-color;

    &&-active &-btn {
      color: @tabs-highlight-color;
    }
  }
}
//Cards

h1,
h1.ant-typography {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: @heading-color;
}

.ant-table-thead .ant-table-cell {
  font-weight: 600;
  font-size: 14px;
  color: #2b388f;
}

.ant-table-cell {
  font-weight: normal;
  font-size: 14px;
  /* Body / body-1 TODO */
  color: #383F72;
}
.ant-table-cell > a {
  text-decoration-line: underline;
  color: #383F72; // TODO var
}