@table-padding-horizontal: 8px;
@table-padding-vertical: 8px;
@table-header-bg: @gray-3;

.@{table-prefix-cls} {
  table {
    border-collapse: collapse;
    border-radius: 2px;
    width: auto;
    min-width: 100%;
  }

  &-content {
    overflow: auto;
  }

  &-thead {
    > tr {
      > th {
        border-bottom: 1px solid @gray-4;
      }
    }

    &-cell {
      font-weight: 600;
      font-size: 14px;
      color: @geekblue-7;
    }
  }

  &-cell {
    font-weight: normal;
    font-size: 14px;
    color: @body-1;
    align-items: top;

    > a {
      color: @body-1;
    }

    button {
      &.ant-btn-link {
        height: auto;
        line-height: 1;
        padding: 0;
      }
    }
  }

  &-tbody {
    > tr:nth-child(2n) {
      background-color: @gray-2;
    }
    > tr {
      border-bottom: 1px solid @gray-4;

      &:last-child {
        border-bottom: none;
      }

      > td {
        color: @primary-color;
        vertical-align: top;
        border: none;
      }
    }
  }

  &-title + &-container {
    table > thead > tr:first-child th:first-child {
      border-top-left-radius: 2px;
    }
  }
}
