.@{tag-prefix-cls} {
  border: none;
  padding: 1px 8px;
  height: fit-content;
  line-height: 20px;
  font-weight: 400;

  &.highImpact {
    background-color: @magenta-2;
    color: @magenta-8;
  }

  &.lowImpact {
    background-color: @green-2;
    color: @green-8;
  }

  &.moderateImpact {
    background-color: @orange-2;
    color: @orange-9;
  }

  &.modifierImpact {
    background-color: @gray-4;
    color: @body-1;
  }
}
