.popOverContent {
  max-width: 420px;
}

.contentLink {
  display: inline;
}

.locked {
  color: var(--gray-6);
}

.unlocked {
  color: var(--green-7);
}

.authorizedUndetermined {
  color: var(--orange-7);
}

