.dashboadRowContainer {
  padding-bottom: 15px;
}

.userDashboardContainer {
  min-height: calc(100% - 56px);
  display: flex;
}

.userDashboardContent {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  min-height: 600px;
  background-color: #f4f5f8;
}

.dashboardTitle {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: #2b388f;
  margin-top: 26px;
  margin-bottom: 24px;
  padding-left: 30px;
}

/*******************************************************/
/* Info */
/*******************************************************/
.infoLink {
  font-size: 14px;
  margin-bottom: 0;
  text-decoration: underline;
}

.infoMessage {
  font-size: 14px;
  color: #343434;
  margin-bottom: 0;
}

/*******************************************************/
/* DashboardCard */
/*******************************************************/
.dashboardCard {
  height: 404px;
}

.dashboardCardWrapper {
  padding: 20px 30px;
}

.dashboardCardWrapper > .ant-card-head {
  padding: 0;
}

.noteList {
  padding-left: 18px;
}
.noteList li {
  margin-top: 5px;
}

/* // TODO REMOVE, UNUSED? */
.promptMessageContainer {
}
.promptMessageContent {
  font-size: 14px;
  line-height: normal;
}
.promptMessageContent ul {
  padding-left: 18px;
}
.promptMessageContent li {
  margin-top: 5px;
}
.promptMessageHeading {
  font-weight: 500;
  font-size: 16px;
}

.wrapperVerticalBarChart {
  height: 265px;
}

.wrapperMemberResearchInterests {
  height: 265px;
}

.wrapperMostParticipantsStudiesChart {
  height: 300px;
}

.studiesList,
.projectsListWrapper {
  max-height: 300px;
}

.projectsListSpinner {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 75px;
}
