@import 'src/style/themes/kids-first/colors';

.CavaticaListItem {
  .itemMeta {
    margin-bottom: 0px;

    *[class$='-meta-title'] {
      font-size: 14px;
    }
  }

  .externalIcon {
    margin-left: 8px;
    visibility: hidden;
  }

  &:hover {
    .projectLink {
      text-decoration: underline;
      &:hover {
        color: $gray-8;
        text-decoration: none;
      }

      .externalIcon {
        visibility: visible;
      }
    }
  }

  .members {
    font-size: 12px;
    color: $gray-7;
  }

  .teamIcon {
    font-size: 16px;
    display: flex;
  }
}
