.ant-list-item {
  padding: 5px;
}

.white-background {
  background: #ffffff;
}

.middle-align {
  text-align: center;
}
.ant-list-header {
  padding: 0;
}

.launch-cluster-container {
  height: 100%;
  padding: 24px;
}

.variantdb-container {
  padding: 32px;
  max-width: 1300px;
  align-self: center;
}
