.data-header-row {
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 600;

  .data-header-title {
    font-size: 16px;
    line-height: 24px;
  }

  .data-header-value {
    font-size: 14px;
    line-height: 22px;
    color: #7d84a6;
  }
}

.data-item-row {
  fontfamily: 'Open Sans';
  color: #515885;
}
