$white: #ffffff;
$primary: #90278e; //magenta
$primaryLight: #a42c90; //lighter magenta
$secondary: #2b388f; //purplish blue
$primaryHover: #404c9a; //purple
$tertiary: #009bb8; //teal-blue
$highlight: #e83a9c; //pink
$hover: #c03299; //also pink
$tertiaryHover: #19a9c4; //lighter teal-blue
$borderGrey: #cacbcf;
$backgroundGrey: #f4f5f8;
$tertiaryBackground: #edeef1; // light light blue
$lightBlue: #008199;
$orange: #ffaa52;
$purple: #a6278f;

$filterPurple: #404c9a;

$backgroundGrey: #f4f5f8;
$borderGrey: #cacbcf;

$shadow: rgba(0, 0, 0, 0.5);
$lightShadow: #a0a0a3;
$lighterShadow: #bbbbbb;
