@import 'src/style/themes/kids-first/colors';

.cavaticaWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .cavaticaProjectsList {
    overflow: auto;
    height: 100%;
  }

  .authenticatedHeader {
    margin-bottom: 8px;

    .disconnectBtn {
      padding: 0;
      font-size: 12px;
    }

    .notice {
      font-size: 12px;
      line-height: 10px;
    }
  }

  .customFooter {
    margin-top: 12px;

    [ant-click-animating-without-extra-node='true']::after {
      display: none;
    }
  }
}

.cavaticaInfoIcon {
  color: $gray-7;
  font-size: 18px;
}
