@import 'src/style/themes/default/colors';

.consequenceUl {
  list-style: none;
  padding: 0;
}

.highImpact {
  background-color: $red-5;
}

.lowImpact {
  background-color: $green-6;
}

.moderateImpact {
  background-color: $orange-5;
}

.modifierImpact {
  background-color: $body-3;
}

.detail {
  padding-right: 12px;
}

.bullet {
  width: 8px;
  border-radius: 50%;
  height: 8px;
  margin-right: 8px;
}

.symbolLink {
  text-decoration-line: underline;
  color: $geekblue-7;
}
