.rightPanel {
  background-color: #f4f5f8;
  border-right: 1px solid #d7d8db;
  width: 320px;
  margin-left: -320px;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  transition: margin-left 0.3s;

  &.opened {
    margin-left: 0;
  }

  .rightPanelHeader {
    display: flex;
    justify-content: flex-end;
  }
}
