@import 'style/themes/default/_colors';

$input-prefix: 'ant-input';
$input-wrapper-prefix: $input-prefix + '-affix-wrapper';
$menu-prefix: 'ant-menu';
$menu-inline-prefix: 'ant-menu-inline';
$menu-item-prefix: $menu-prefix + '-item';

.siderContainer {
  display: flex;
  flex-direction: row;

  .sider {
    z-index: 1;
    width: 220px;
    background-color: $cyan-7;
    transition: width 0.3s;

    :global(.#{$menu-inline-prefix}) {
      &-collapsed {
        width: 50px;

        :global(.#{$menu-item-prefix}) {
          padding: 0 !important;
          width: 100%;
        }
      }
    }

    &[data-collapsed='true'] {
      width: 50px;

      .sidebarMenu {
        .searchMenuItem {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }

        :global(.#{$menu-item-prefix}) {
          justify-content: center;

          :not(img) {
            display: none;
          }

          img {
            margin-right: 0;
          }
        }
      }
    }

    .sidebarToggleIconContainer {
      margin: 1rem 1.4rem 1rem 1.4rem;

      .sidebarToggleIcon {
        font-size: 22px;
        color: white;
      }
    }

    .sidebarMenu {
      transition: background 0s;
      background-color: transparent;
      border: none;
      color: $gray-1;
      font-weight: 600;
      font-size: 14px;

      .searchMenuItem {
        margin: 0 1rem;
        padding: 2px;
        border-radius: 4px;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        border: 1px solid transparent;
        *,
        ::placeholder {
          color: $body-3;
        }
        .searchInput {
          :global(.#{$input-prefix}) {
            color: $body-1;
          }

          &:hover {
            box-shadow: 0 0 0 2px $cyan-8;
            border-color: transparent;
          }

          &:global(.#{$input-wrapper-prefix}) {
            &-focused {
              box-shadow: 0 0 0 2px $cyan-7, 0 0 0 3px white;
              border-color: transparent;
            }
          }
        }
      }

      :global(.#{$menu-item-prefix}) {
        margin: 0;
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        padding: 0 1.3rem !important;

        img {
          margin-right: 12px;
        }

        &:hover {
          color: $gray-1;
          opacity: 0.8;
        }

        &::after {
          border-right: none;
        }

        &-selected,
        &:active {
          opacity: 1 !important;
          color: $gray-1;
          background-color: $cyan-8;
        }
      }
    }
  }

  .rightPanel {
    background-color: #f4f5f8;
    border-right: 1px solid #d7d8db;
    padding: 2rem;
    min-width: 320px;
    max-width: 320px;
    display: flex;
    flex-flow: column;

    .rightPanelHeader {
      display: flex;
      justify-content: flex-end;
    }
  }
}
