@import 'src/style/themes/default/colors';
.table {
  width: 100%;
}

.link {
  text-decoration-line: underline;
  color: $body-1;
}

.rowOdd {
  background-color: $gray-2;
}

.variantTableLink {
  color: $primary-color;
  text-decoration: underline;
}

.variantTableLink:hover {
  color: $primary-color;
  text-decoration: none;
}
