.variant-page-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 50% auto;
}

.variant-page-grid-item {
  text-align: left;
}

.variant-page-grid-item-table {
  grid-column: 1 / 3;
}

.variant-page-space-between {
  justify-content: space-between;
}

.variant-page-flex {
  display: flex;
}

.variant-page-icons {
  fill: #383f72;
  height: 30px;
  width: 30px;
}
