@import 'src/style/themes/default/colors';

.table {
  width: 100%;
  table-layout: auto;
}

.rowOdd {
  background-color: $gray-2;
}

.variantTableCell {
  min-width: 160px;
  width: 14%;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

:export {
  hgvsgTooltipColor: $geekblue-7;
}