@import 'style/themes/default/_colors';

.layout {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.scrollContent {
  width: 100%;
}

.variantPageGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 50% auto;
}

.variantStatsContainer {
  justify-content: space-between;
  display: flex;
}

.variantPageGridItem {
  text-align: left;
}

.variantPageGridItemTable {
  grid-column: 1 / 3;
}

.variantPageIconColor {
  fill: $geekblue-7;
}
