.variantPageGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 50% auto;
}

.variantStatsContainer {
  justify-content: space-between;
  display: flex;
}

.variantPageGridItem {
  text-align: left;
}

.variantPageGridItemTable {
  grid-column: 1 / 3;
}
