@import 'src/style/themes/default/colors';

.variantTableCell {
  min-width: 160px;
  width: 14%;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

.variantSearchTable {
  :global(.ant-table-content) {
    overflow: scroll;
    table {
      min-width: 1500px;
    }
  }
}
