@import 'src/style/themes/default/colors.module.scss';

.statsAndZepplinContainer {
  width: 100%;
  margin-bottom: 24px;
}

.variantPageGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 50% auto;
}

.variantStatsContainer {
  justify-content: space-between;
  display: flex;
}

.variantPageGridItem {
  text-align: left;
}

.variantPageGridItemTable {
  grid-column: 1 / 3;
}

//.variant-page-container {
//  color: #2b388f;
//}


//.variantPageIcons {
//  fill: $body-1;
//  height: 30px;
//  width: 30px;
//}

.variantPageIcons {
  height: 18px;
  vertical-align: middle;
  fill: $body-1;
}
