@import 'src/style/themes/default/colors';

.variantTableCell {
  min-width: 160px;
  width: 14%;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

.variantSearchTable {
  .variantTableCellElipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: unset;
  }
}
