@import '../../theme/vars';

.global-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  border: 1px solid $borderGrey;
  background: $white;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  width: 95%;
  padding-top: 10px;
  max-width: 1000px;
  max-height: 85%;
  min-height: 0;
  box-shadow: $shadow 0px 5px 15px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  & * {
    box-sizing: border-box;
  }

  & .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d4d6dd;
    margin-bottom: 1.5em;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  & .body {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Open Sans, sans-serif;
    line-height: 28px;
    font-size: 15px;
    color: #343434;
  }

  & .footer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: $tertiaryBackground;
  }
}

.global-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* TODO: Use vars: shadow */
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1000;
}
