.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d4d6dd;
  margin-bottom: 1.5em;
}

.modalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1000;
}

.modalFooterContainer {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  align-items: center;
}

.modalFooterContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.modalActionButton {
  font-size: 14px;
  height: auto;
}

/* .modalCancelButton {
  background-color: '#fff';
  font-weight: 500;
  margin: 0px 4px;
  border: solid 2px transparent;
  text-transform: none;
} */
/* .modalCancelButton:hover {
  background-color: ${colors.tertiary};
  color: #ffffff;
}
.modalCancelButton:link {
  text-decoration: none;
}
.modalCancelButton:disabled {
  color: ${colors.greyScale7};
}
.modalCancelButton:disabled:hover {
  cursor: default;
  background-color: transparent;
  color: ${colors.greyScale7};
} */

.modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  border: 1px solid #cacbcf;
  background: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  width: 95%;
  padding: 20px 20px;
  max-width: 1000px;
  max-height: 85%;
  min-height: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.modal * {
  box-sizing: border-box;
}
.modalContent {
  z-index: 1000;
  flex: 1;
  height: 100%;
  min-height: 0;
}
.modalSubHeader {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.87;
  letter-spacing: 0.2px;
  color: rgb(36, 36, 36);
  margin-bottom: 9px;
}
.modalTitle {
  line-height: 1.3;
  letter-spacing: 0.3px;
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
}
