@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/layout';

.mainHeader {
  height: $main-header-height;
  background-color: $gray-1;
  padding: 16px 32px;
  box-shadow: 0 0 8px 0 transparentize(#26436f, 0.75);
  z-index: 1000;

  * {
    overflow: unset;
  }

  div[class$='-header-heading'],
  span[class$='-header-heading-title'],
  div[class$='-header-heading-left'] {
    height: 100%;
  }

  span[class$='-header-heading-title'] {
    margin-right: 28px;
    width: 94px;

    .logo {
      position: absolute;
      top: 10px;
      height: 40px;
      width: auto;
    }
  }

  div[class$='-header-heading-left'] {
    margin: 0;
  }

  span[class$='-header-heading-extra'] {
    display: flex;
    align-items: center;
  }

  .headerMenu {
    margin-left: 24px;
  }

  .headerBtn {
    border: none;
    color: $purple-6;
    padding: 4px 8px;
    margin: 0 5px;

    &:hover,
    &:focus {
      background-color: $gray-4;
      border: none;
      color: $gray-8;
    }
  }

  .resourcesMenuTrigger {
    color: $purple-6;
    margin: 0 10px;

    .resources {
      margin: 0 8px;
    }
  }

  .icon path {
    fill: $gray-8;
  }

  .userMenuTrigger {
    display: flex;
    align-items: center;

    .userGravatar {
      height: 24px;
      width: 24px;
      background-color: #ffffff;
      margin: 5px 8px;
    }

    .userName {
      margin-right: 5px;
    }
  }

  .menuTrigger {
    color: $purple-6;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $purple-7;
    }

    &:focus-visible {
      color: $purple-7;
      box-shadow: 0 0 0 2px $gray-1, 0 0 0 4px $purple-7;
    }
  }
}

.siteWideBanner {
  z-index: 1001;
}

.userMenuEmail {
  cursor: default;
}

.externalLink {
  color: $body-1;
}
