@import 'src/style/themes/kids-first/colors';

.authorizedWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .authorizedStudiesList {
    overflow: auto;
    height: 100%;

    .safetyIcon {
      font-size: 40px;
    }
  }

  .authenticatedHeader {
    margin-bottom: 8px;

    .disconnectBtn {
      padding: 0;
      font-size: 12px;
    }

    .notice {
      font-size: 12px;
      line-height: 10px;
    }
  }
}
