@import 'src/style/themes/kids-first/colors';

.dropdown {
    background-color: $cyan-7;
    color: $gray-1;
    border-color: $cyan-7;

    .ant-dropdown-open {
        color: $gray-1;
        background-color: $cyan-7;
    }


    &:hover {
        color: $gray-1;
        background: $cyan-6;
        border-color: $cyan-6;
    }

    &:focus {
        color: $gray-1;
        background: $cyan-8;
        border-color: $cyan-8;
    }

    &:active {
        color: $gray-1;
        background: $cyan-8;
        border-color: $cyan-8;
    }

    &:focus-visible {
        color: $gray-1;
        background: $cyan-7;
        border-color: $cyan-7;
        box-shadow: 0 0 0 2px $gray-1, 0 0 0 4px $cyan-7;
    }
}