.phenotypeSunburstTree {
  width: 100%;
}
.phenotypeSunburstTree *[class$=-typography] {
  margin: 0;
}
.phenotypeSunburstTree .addTermBtn {
  padding: 0;
}
.phenotypeSunburstTree .treeWrapper {
  margin-top: 8px;
  width: 100%;
}
.phenotypeSunburstTree .treeWrapper .phenotypeTree {
  background-color: transparent;
}
.phenotypeSunburstTree .treeWrapper .phenotypeTree :global(.ant-tree-switcher) {
  width: 0;
}
.phenotypeSunburstTree .treeWrapper .phenotypeTree :global(.ant-tree-node-content-wrapper):global(:not(.ant-tree-node-selected)) {
  padding: 0;
}
