@import 'src/style/themes/default/colors';

.story-table-code {
    color: $primary-color;
    text-decoration: underline;
}

.story-table-code:hover {
    color: $primary-color;
    text-decoration: none;
}