
.story-code-button {
    justify-content: flex-end;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.story-table-code {
    padding-left: 7px;
    color: #b5469e;
}

.story-table-code:hover {
    text-decoration: underline;
}