/* components.navLink */
.navLink {
  display: block;
  color: #c03299;
  padding: 6px 10px;
  margin: 0px 4px;
  text-decoration: none;
  border: solid 2px transparent;
  font-size: 14px;
  font-weight: 500;
}
.navLink:hover {
  border-radius: 19px;
  background-color: #404c9a; /* ${colors.primaryHover}; */
  border: solid 2px #cacbcf; /* ${colors.borderGrey}; */
  color: #ffffff;
}
/* mixins.linkButtonActive */
.linkButtonActive {
  border-radius: 19px;
  background-color: #404c9a; /* ${colors.primaryHover}; */
  border: solid 2px #cacbcf; /* ${colors.borderGrey}; */
  color: #ffffff;
}

/* components.linkAsButton */
.linkAsButton {
  font-size: 12px;
  line-height: 2.17;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  display: block;
  padding: 6px 16px;
  margin: 0px 4px;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px transparent;
  background-color: #90278e;
  color: #fff;
  letter-spacing: 0.2px;
  border-radius: 19px;
  border: solid 2px transparent;
}
.linkAsButton:hover {
  border-radius: 19px;
  background-color: #404c9a; /* ${colors.primaryHover}; */
  border: solid 2px #cacbcf; /* ${colors.borderGrey}; */
  color: #ffffff;
}
