/*******************************************************************/
/* Header Menu                                                     */
/*******************************************************************/
.headerContainer {
  background: #ffffff;
  box-shadow: 0 0 4.9px 0.1px #a0a0a3;
  height: auto;
  padding: 0;
  z-index: 2;
}

.gradientAccent {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, #90278e, #cc3399 35%, #be1e2d 66%, #f6921e);
}

.headerContainer .headerContent {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.headerContainer .headerContent a {
  text-decoration: none;
}

/*******************************************************************/
/* Header Dropdown Menus (antd)                                    */
/*******************************************************************/
.headerMenuDropdown {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  padding: 0 10px;
}

.headerMenuDropdown > img,
.headerMenuDropdown > svg {
  margin-right: 10px;
}

.headerMenuMenuContainer .ant-dropdown-menu-item {
  padding: 10px 20px;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.2px;
  color: rgb(61, 61, 61);
}

.headerMenuMenuContainer .ant-dropdown-menu-item svg,
.headerMenuMenuContainer .ant-dropdown-menu-item img {
  margin-right: 10px;
  fill: rgb(169, 173, 192);
}

.headerMenuMenuContainer .ant-dropdown-menu-item-active {
  background-color: transparent;
  color: rgb(192, 50, 153);
  fill: rgb(192, 50, 153);
  border-left-color: rgb(192, 50, 153);
}

.headerMenuMenuContainer .ant-dropdown-menu-item-active > a,
.headerMenuMenuContainer .ant-dropdown-menu-item-active img,
.headerMenuMenuContainer .ant-dropdown-menu-item-active svg {
  color: rgb(192, 50, 153);
  fill: rgb(192, 50, 153);
}

.headerMenuMenuContainer a {
  text-decoration: none;
}

/* User Menu */
.headerProfilePicture {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffffff;
  border: 1px solid #cacbcf;
  margin: 5px;
}

/*******************************************************************/
/* Header Main Menu  (uikit)                                       */
/*******************************************************************/
.navBarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-align: left;
  color: #90278e;
}

.navLink {
  display: block;
  color: #a6278f;
  padding: 6px 10px;
  margin: 0 5px;
  font-size: 16px;
}
.navLink:hover {
  display: block;
  color: #a6278f;
  padding: 6px 10px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 500;
  background: #f5e5f1;
  border: 1px solid #f5e5f1;
  box-sizing: border-box;
  border-radius: 2px;
}
.navLink.active {
  display: block;
  color: #a6278f;
  padding: 6px 10px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 500;
  background: #f5e5f1;
  border: 1px solid #f5e5f1;
  box-sizing: border-box;
  border-radius: 2px;
}

.linkAsButton {
  font-size: 12px;
  line-height: 2.17;
  letter-spacing: 0.2px;
  text-align: left;
  display: block;
  padding: 6px 16px;
  margin: 0 4px;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px transparent;
  background-color: #90278e;
  color: #fff;
  border-radius: 19px;
}
.linkAsButton:hover {
  border-radius: 19px;
  background-color: #404c9a; /* ${colors.primaryHover}; */
  border: solid 2px #cacbcf; /* ${colors.borderGrey}; */
  color: #ffffff;
}

.logo {
  width: 211px;
  height: 65px;
  margin-right: 8px;
}

.resourcesBadge {
  color: #a6278f;
  font-size: 16px;
}
