@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/layout';
@import 'src/style/themes/kids-first/theme.template';

.dataReleaseContainer {
  display: flex;
  justify-content: space-between;
  margin-top: $default-padding;

  .dataReleaseIcon {
    margin-top: -1px;
    color: $cyan-4;
    font-size: $data-release-icon-font-size;
  }

  .dataReleaseStatsLabel {
    color: $gray-1;

    :global(.wrapper__label) {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
