.container .tag {
  display: flex;
  align-items: center;
  background-color: var(--cyan-7);
  color: var(--gray-1);
}
.container .tag > * {
  color: var(--gray-1);
}
.container .search {
  width: 100%;
}
