/* [NEXT] UNUSED? */

.copyToClipboardButton {
  /* from components.actionButton */
  outline: none;
  border: 0;
  background: none;
  box-shadow: none;
  color: #fff;
  padding: 0px 16px;
  line-height: 1.86;
  letter-spacing: 0.2px;
  border-radius: 19px;
  background-color: #009bb8;
  white-space: nowrap;
  text-transform: uppercase;
  /* additional styles */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* from components.actionButton */
.copyToClipboardButton:hover {
  background-color: #19a9c4;
  color: #ffffff;
  cursor: pointer;
}
.copyToClipboardButton:link {
  text-decoration: none;
}
.copyToClipboardButton:disabled,
.copyToClipboardButton:disabled:hover {
  cursor: default;
  color: rgb(107, 98, 98);
  background-color: rgb(212, 214, 221);
}
.copyToClipboardButton .label {
  margin-left: 10px;
}
