.logoutButton {
  outline: none;
  border: 0;
  background: none;
  box-shadow: none;
  background-color: #90278e;
  color: #fff;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.2px;
  margin: 0px 4px;
  border-radius: 19px;
  border: solid 2px transparent;
  cursor: pointer;
}
.logoutButton a:hover,
.logoutButton:hover {
  background-color: #404c9a;
  border: solid 2px #dcdde3;
  color: #ffffff;
  cursor: pointer;
}

.logoutButton a,
.logoutButton :link {
  color: #ffffff !important;
  text-decoration: none;
}
