.roleIconContainer {
  display: flex;
  height: 42px;
  border-radius: 21px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: capitalize;
  padding: 0 16px 0 0;
}

.roleIconDisplayName {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.roleIconDisplayNameLabel {
  font-weight: 500;
}
