.splashPageContainer {
  width: 630px;
  margin: auto;
}

.main-title {
  background-color: #ffffff;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  height: 52px;
  border-top: 1px solid #f0f0f0;
  padding: 10px;
  /* use negative margins to counter padding from the card container */
  margin: 24px -24px -24px;
  color: #515885;
}
