.variantTabWrapper {
  display: flex;

  :global(.ant-pagination) {
    margin-bottom: 0;
  }
}

.variantTableCellElipsis {
  max-width: 200px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: unset;
  white-space: nowrap;
}

// prevent safari double tooltip
.variantTableCellElipsis::after {
  content: '';
  display: block;
}
