.dataExploBox {
  padding: 16px;
  background-color: transparent;
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--cyan-7);
}
.dataExploBox.disabled {
  cursor: default !important;
}
.dataExploBox:not(.dataExploBox.disabled):hover {
  background-color: var(--cyan-9);
  border-color: var(--cyan-9);
}
.dataExploBox:not(.dataExploBox.disabled):hover .linkArrow {
  opacity: 1;
  transform: translateX(0);
}
.dataExploBox .linkArrow {
  opacity: 0;
  transform: translateX(-15px);
  transition: transform 0.1s ease, opacity 0.1s ease;
  margin-left: -8px;
  margin-top: 5px;
  font-size: 20px;
  color: var(--cyan-4);
}
.dataExploBox .linkTitle {
  font-weight: 500;
  color: var(--gray-1);
  font-size: 16px;
}
