.sqonBuilder-container {
  border: solid 1px rgb(212, 214, 221);
}
.sqonBuilder-container > .sqonBuilder .sqonEntry {
  padding-right: 0px;
}
.sqonBuilder-container > .sqonBuilder .sqonEntry .actionButtonsContainer {
  box-sizing: border-box;
  position: initial;
  height: initial;
  right: unset;
}

.sqonBuilder-container .sqonBuilder .sqonListActionButton {
  background-color: transparent;
}

.sqonBuilder-container .sqonBuilder .actionHeaderContainer button {
  background-color: transparent;
}

.sqonBuilder-container .sqonBuilder .participantsCountContainer {
  position: initial;
  height: initial;
  width: initial;
  right: unset;
}

.sqonEntry .participantsCountContainer.loading {
  color: #2b388f;
}

.sqonBuilder-container .fieldFilter-container {
  left: auto;
  right: 0px;
}

.clearAll-modal {
  max-width: 500px;
}

.sqonBuilder-container .sqonEntry.selectionContainer {
  padding: 4px;
}
