.tableToolbar-toolbar {
  justify-content: space-between;
  border: 1px solid #e0e1e6;
  border-bottom: none;
  align-items: center;
}

.tableToolbar-toolbar .pagination-status {
  margin-left: 5px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  color: #74757d;
}

.tableToolbar-toolbar .toolbar-group {
  border: 1px solid #cacbcf;
  border-radius: 10px;
}

.tableToolbar-toolbar .toolbar-group > div {
  border-right: 1px solid #cacbcf;
}
.tableToolbar-toolbar .toolbar-group > div:last-child {
  border: none;
}

.tableToolbar-toolbar .toolbar-selectionCount {
  color: #74757d;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: none;
}

.tableToolbar-toolbar .toolbar-selectionCount .clearSelection {
  font-family: Open Sans, sans-serif;
  color: #90278e;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.tableToolbar-toolbar .toolbar-selectionCount .clearSelection:hover,
.tableToolbar-toolbar .toolbar-selectionCount .clearSelection:visited {
  color: #c03299;
}

.tableToolbar-toolbar .toolbar-selectionCount .clearSelection:active {
  color: #e83a9c;
}

.tableToolbar-toolbar .toolbarDownload {
  position: absolute;
  right: 220px;
  padding-bottom: 4px;
}
