@import 'src/style/themes/kids-first/colors';

.searchLabel {
  &.titleWrapper {
    color: $body-1;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .title {
      color: $body-1;
      font-size: 12px;
    }

    .tooltipIcon {
      margin-left: 0.5rem;
      color: $gray-6;
    }
  }
}
