@import 'src/style/themes/kids-first/colors';

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dragHandle {
    font-size: 16px;
    color: $gray-7;
    outline: none;
  }

  .infoPopover {
    margin-left: 5px;
  }

  .infoIcon {
    color: $gray-7;
    font-size: 18px;
  }
}

.infoPopoverOverlay {
  max-width: 350px;
}
