/**********************************************************/
/* AggregationPanel */
/**********************************************************/
.aggregationPanelContainer {
  display: block;
  height: 100%;
}
.aggregationPanelContainer.hidden {
  display: none;
}

.aggsListWrapper {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
}

.scrollY {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

/**********************************************************/
/* QuickSearchBox */
/**********************************************************/
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  margin: 10px;
  height: 30px;
  width: 30px;
}
