/**********************************************************/
/* AggregationPanel */
/**********************************************************/
.aggregationPanelContainer {
  display: block;
  height: 100%;
}
.aggregationPanelContainer.hidden {
  display: none;
}

.aggsListWrapper {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
}

.scrollY {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

/**********************************************************/
/* QuickSearchBox */
/**********************************************************/
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  margin: 10px;
  height: 30px;
  width: 30px;
}

/**********************************************************/
/* AggregationSidebar                                     */
/**********************************************************/
.collapsibleAggregationWrapper {
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 4.9px 0.2px rgba(0, 0, 0, 0.5);
  border-color: #e0e1e6;
  border-style: solid;
  border-width: 0 1px 0 0;
  flex: 1 1 auto;
  background: #f4f5f8;
  /* swap the above and below if issues */
  transition: all 0.25s;
  min-width: 37px;
  flex: inherit;
  overflow: hidden;
}

.aggregationHeader {
  display: flex;
  align-items: center;
  padding: 15px 7px 15px 12px;
}
