.upload-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upload-icon {
  margin-right: 8px;
}

.wrapper-filter-reset-btn {
  margin-top: 5px;
  text-align: end;
  margin-bottom: 5px;
}
