.cb-container {
  width: 100%;
  background-color: #f4f5f8;
  min-height: calc(100% - 56px);
}

.cb-fullWidth {
  width: 100%;
}

.cb-sqonBuilder-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: solid 1px rgb(212, 214, 221);
  box-shadow: 0 3px 5px -3px #bbbbbb;
  background-color: #ffffff;
}

.cb-contentBar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.cb-contentBar.cb-categories-container {
  margin-top: 0;
  background-color: transparent;
}

.cb-contentBar .cb-categories-content {
  height: 72px;
  width: 100%;
  border-left: 1px solid #d4d6dd;
  background-color: white;
}

.cb-modalContentSection {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Category */
.cb-category-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  cursor: pointer;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5.9px 0.1px #bbbbbb;
}
.cb-category-options.shouldFlip {
  right: 0;
}
.cb-category-options:not(.shouldFlip) {
  left: 0;
}
.cb-category-options > div:not(:last-child) {
  border-bottom: 1px solid #d4d6dd;
}

.cb-category-ItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 12px;
  color: #343434;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.cb-category-ItemWrapper:hover {
  background-color: #f4f5f8;
}

.cb-category-button {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-top: 4px solid transparent;
  border-right: 1px solid rgb(212, 214, 221);
  cursor: pointer;
}
.cb-category-button:hover {
  background-color: #f4f5f8;
  box-shadow: 0 0 5.9px 0.1px #bbbbbb;
}
.cb-category-button h3 {
  margin: 7px 0 0 0;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #404c9a;
  white-space: normal;
}

/* Category dropdown content */
.cb-category-overlay-container {
  box-shadow: rgb(187, 187, 187) 0px 0px 5.9px 0.1px;
  border-radius: 5px;
}
.cb-category-overlay-container > ul {
  border-radius: 5px;
}
.cb-category-overlay-container .ant-menu-item.cb-category-menuItem {
  min-width: 282px;
  margin: 0;
  padding: 8px 20px;
  height: 34px;
  line-height: 20px;

  font-size: 12px;
  color: rgb(52, 52, 52);
  font-weight: 500;
  box-sizing: border-box;

  transition: none;
}
.cb-category-overlay-container .ant-menu-item.cb-category-menuItem:hover {
  background-color: rgb(244, 245, 248);
}

.cb-category-overlay-container
  .ant-menu-item.cb-category-menuItem
  .cb-category-menuItem-icon-rightArrow
  svg {
  vertical-align: middle;
  top: -2px;
  position: relative;
}

.check-mark-icon {
  margin: 0 5px 4px 0;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
