.cb-detail {
  align-items: baseline;
  align-content: space-between;
  justify-content: flex-end;
}

.cb-tab-content {
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  border: 1px solid #f0f0f0;
  border-top: none;
  padding: 16px 20px 30px 20px;
  display: grid;
}

.cb-tab-content-summary {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
}
@media (max-width: 770px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 770px) and (max-width: 1200px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width: 1201px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cb-detail > :first-child {
  margin-right: 10px;
}

.cb-view-links {
  margin-top: 50px;
  margin-right: 30px;
}
.cb-view-summary-view {
  background: #fff;
}

.cb-active-view {
  width: 100%;
  padding: 0 26px 36px 26px;
  margin-top: 19px;
  position: relative;
}

.cb-active-view.summary > div:nth-child(2) {
  display: none !important;
}

.cb-active-view.table > div:first-child {
  display: none !important;
}

.cb-purple-link {
  color: #a6278f;
}
.cb-purple-link:hover {
  color: #cc3399;
}

/* EmptyCohortOverlay */
.cb-empty-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.cb-empty-overlay-message {
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 35px;
  font-weight: 600;
  background-color: #fff;
  max-height: fit-content;
  font-size: 14px;
  height: 50px;
}
