.cb-detail {
  align-items: baseline;
  align-content: space-between;
  justify-content: flex-end;
}

.cb-tab-content {
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  border: 1px solid #f0f0f0;
  border-top: none;
  padding: 16px 20px 30px 20px;
  display: grid;
}

.cb-tab-content-summary {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
}
@media (max-width: 770px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 770px) and (max-width: 1200px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width: 1201px) {
  .cb-tab-content-summary {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cb-detail > :first-child {
  margin-right: 10px;
}

.cb-view-links {
  margin-top: 50px;
}
.cb-view-summary-view {
  background: #fff;
}

.cb-active-view {
  width: 100%;
  padding: 0 26px 36px 26px;
  margin-top: 19px;
  position: relative;
}

.cb-active-view.summary > div:nth-child(2) {
  display: none !important;
}

.cb-active-view.table > div:first-child {
  display: none !important;
}

.cb-purple-link {
  color: #a6278f;
}
.cb-purple-link:hover {
  color: #cc3399;
}

.empty-container {
  padding: 24px 0;
}

.empty-description {
  font-size: 16px;
}
