@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/theme.template';

.sideImagePageContainer {
  position: relative;
  height: 100vh;
  background-color: $cyan-7;

  &.sideImagePageContainerAlt {
    background-color: $gray-2;
  }

  .contentWrapper {
    height: 100%;
    width: 100%;
  }

  .sideImageContainer {
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    transition: width 0.2s ease;
  }

  .pageContent {
    flex: 1;

    &.alignCenter {
      justify-content: center;
      align-items: center;
    }

    &.light {
      background-color: $gray-2;
    }
  }

  .logoImage {
    width: 275px;
    position: absolute;
    margin: 20px;
  }
}

@media (min-width: 1351px) {
  .sideImageContainer {
    width: 575px;
  }
}

@media (max-width: 1350px) {
  .sideImageContainer {
    width: 435px;
  }
}

@media (max-width: 1180px) {
  .sideImageContainer {
    flex: 0;
  }

  .pageContent {
    display: flex;

    &.sideImagePageContainerAlt {
      background-color: $gray-2;

      &.dark {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background: linear-gradient(
            0deg,
            transparentize($gray-2, 0.1),
            transparentize($gray-2, 0.1)
          ),
          url(../../assets/mainSideImage-alt.jpg) bottom;
        background-size: cover;
      }
    }

    &.dark {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background: linear-gradient(0deg, transparentize($cyan-7, 0.1), transparentize($cyan-7, 0.1)),
        url(../../assets/mainSideImage.jpg) bottom;
      background-size: cover;
    }
  }
}
