@import '../../dist/themes/default/colors';

:export  {
  btnprimarybg: $btn-primary-bg;
  btnprimarycolor: $btn-primary-color;
  btndefaultcolor: $btn-default-color;
  btndangerbg: $btn-danger-bg;
  btndangerborder: $btn-danger-border;

  //Heading - Title
  headingcolor: $heading-color;
  headingcolorlight: $heading-color-light;
}
