@import 'colors';
@import '~@ferlab/style/index';
html {
  font-size: 62.5%; /*Do not set to pixel otherwise it prevents user to use his personal browser settings*/
}
h1,
h2,
h3,
h4 {
  color: $heading-color;
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 0.71;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.3px;
}

h4 {
  font-size: 13px;
  font-style: italic;
  line-height: 1.85;
  text-align: left;
  color: $heading-color-light;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
