.search-all-filter {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.search-all-filter .query-container {
  overflow: hidden;
  height: 100%;
  padding-top: 17px;
  padding-left: 12px;
  padding-right: 14px;

  display: flex;
  flex-shrink: 0;
  border-top: 4px solid transparent;
  border-right: 1px solid #d4d6dd;
  width: 100%;
}

.search-all-filter .query-container .input-icon {
  color: #a9adc0;
}
.search-all-filter .query-container .input-icon.icon-right {
  color: rgb(52, 52, 52);
}

.search-all-filter .results-container {
  position: absolute;
  display: none;
  
  top: 100%;
  left: 0px;
  width: 290px;
  padding: 0;

  border: 1px solid #e0e1e6;
  border-radius: 5px;
  box-shadow: 0 0 4.9px 0.1px #bbbbbb;
  background-color: white;
}
.search-all-filter .results-container.open {
  display: block;
}
.search-all-filter .results-container .results-content {
  padding: 0;
}
.search-all-filter .results-container .results-content .results-header {
  font-family: Open Sans, sans-serif;
  font-style: italic;
  font-size: 12px;
  color: rgb(52, 52, 52);
  width: 100%;
  border-bottom: 1px solid #e0e1e6;
}
.search-all-filter .results-container .results-content .results-footer {
  background-color: #e0e1e6;
  border-top: 1px solid #e0e1e6;
}

/***** INPUT FIELD *****/
.query-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
  padding-right: 2em;
  background: white;

  /* border-radius: 2px;
  border: solid 1px black; */
  border-radius: 10px;
  border: solid 2px #d4d6dd;
}

.query-content:hover {
  /* box-shadow: 0 0 10px lightgrey; */
  box-shadow: 0 0 10px skyblue;
}

.query-content .input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  line-height: 1em;
  margin-right: 0.3em;
  color: lightgrey;
}
.query-content .input-icon.icon-right {
  position: absolute;
  right: 0;
  cursor: pointer;
  color: black;
}

.query-content input {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: rgb(52, 52, 52);
  flex: 1 1 0%;
  border: none;
}

/***** RESULTS *****/
.results-section {
  width: 100%;
}
/*** HEADER  ***/
.results-section.results-header {
  padding-left: 1em;
  line-height: 40px;
}

/**** BODY ****/
.results-section.results-body {
  min-height: 50px;
  max-height: 286px;
  overflow: auto;
  overflow-x: hidden;
  padding: 12px;
  padding-left: 9px;
  position: relative;
}

/*** LOADER ***/
.loader-container {
  display: none;
}
.loader-container > div {
  width: 100%;
  height: 100%;
}
.loader-container.loading {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader-container.loading:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.75;
}

.results-section.results-body .result-category {
  display: block;
  border-bottom: 1px solid #cacbcf;
}

.results-section.results-body .result-category.last {
  border-bottom: none;
}

.results-section.results-body .category-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #404c9a;
  padding: 6px 0;
}

.results-section.results-body .result-category.match .category-name {
  color: #a6278f;
  text-decoration: underline;
  cursor: pointer;
}

.results-section.results-body .result-item {
  font-family: OpenSans;
  font-size: 11px;
  display: block;
  position: relative;
  line-height: 1rem;
  width: 224px;
  color: #343434;
  padding-left: 20px;
  padding-bottom: 6px;
}

.results-section.results-body .selection {
  position: absolute;
  left: -2px;
  margin-top: 2px;
}

.results-section.results-body .doc-count {
  position: absolute;
  right: -26px;
  top: 0px;

  font-family: OpenSans;
  font-size: 11px;
  letter-spacing: 0.2px;
  line-height: 1.2em;
  background-color: rgba(169, 173, 192, 0.3);
  border: solid 1px rgba(202, 203, 207, 0.3);
  border-radius: 5px;
  padding: 0 5px;
}

/*** FOOTER ***/
.results-section.results-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: lightgrey;
  border-top: 1px solid lightgrey;
  padding: 8px;
}
