@import 'src/style/themes/kids-first/theme.template';
@import 'src/style/themes/kids-first/colors';

.sideBarFacet {
  padding-top: 10px;
  overflow-y: hidden;
  max-height: 100%;
  min-height: 100vh;
  min-width: $sidebar-content-panel-width;
  width: $sidebar-content-panel-width;
  transition: width 0.2s, min-width 0.2s;
  border-right: 1px solid $gray-5;

  &.collapsed {
    min-width: $sidebar-menu-collapsed-width;
    width: $sidebar-menu-collapsed-width;
  }
}

.collapseIcon {
  font-size: $sidebar-menu-item-icon-size;
  color: $gray-7;
  display: flex;
  justify-content: flex-start;
}

.content {
  padding: $sidebar-content-panel-padding;
}

.spin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 21px;
  color: $gray-7;

  &:hover {
    background-color: transparent;
  }
}
