.entityPageActionBar {
  height: 62px;
  width: 100%;

  box-shadow: 0 4.9px 4.9px -4.9px #bbbbbb;
  border: solid 1px #e0e1e6;
  background-color: #ffffff;

  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
