.entityPageActionBar {
  height: 62px;
  width: 100%;

  box-shadow: 0 4.9px 4.9px -4.9px #bbbbbb;
  border: solid 1px #e0e1e6;
  background-color: #ffffff;

  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.entityTitleBar {
  height: 104px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #f4f5f8;
}

.entityTitle {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: #404c9a;
  margin: 0;
  padding-left: 20px;
}

.entityContentSection-container {
  padding: 25px 0;
}

.entityContentSection-title {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #404c9a;
  margin: 0;
}
.entityContentSection-title.small {
  font-size: 16px;
}

.entityContentSection-content {
  padding-top: 15px;
}

/**************************************************/
/* Participant                                    */
/**************************************************/
.entityParticipant-container {
  flex-direction: column;
  min-height: calc(100% - 56px);
  width: 100%;
  align-items: center;
}

.entityParticipant-actionBar {
  height: 62px;
  width: 100%;

  box-shadow: 0 4.9px 4.9px -4.9px #bbbbbb;
  border: solid 1px #e0e1e6;
  background-color: #ffffff;

  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-shrink: 0;
}

.entityParticipant-actionBar-container {
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.entityParticipant-tabButton {
  flex-grow: 0;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 1em;
  cursor: pointer;
  border: thin solid rgb(224, 225, 230);
}
.entityParticipant-tabButton.changeColor {
  border: thin solid #e83a9c;
}

.entityParticipant-tabButton .rightIcon {
  display: flex;
  align-items: center;
}

.entityParticipant-tabs-container {
  display: flex;
  flex-wrap: wrap;
}

.entityParticipant-holder-container {
  overflow-y: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  min-width: 265px;
  height: 100%;
}
