.connectPlaceholder {
  padding: 50px 0;
  height: 100%;
  justify-content: center;
}
.connectPlaceholder .iconWrapper {
  background-color: var(--gray-5);
  border-radius: 50px;
  color: var(--gray-1);
  max-width: 64px;
  height: 64px;
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
}
.connectPlaceholder .description {
  font-size: 12px;
}
