@import 'src/style/themes/kids-first/colors';

.connectPlaceholder {
  padding: 50px 0;
  height: 100%;
  justify-content: center;

  .iconWrapper {
    background-color: $gray-5;
    border-radius: 50px;
    color: $gray-1;
    max-width: 64px;
    height: 64px;
    justify-content: center;
    margin: auto;
    align-items: center;
    display: flex;
  }
  .description {
    font-size: 12px;
  }
}
