.login-footer {
  position: absolute;
  bottom: 0;
  padding: 30px;
  margin: 0 auto;
}

.login-redirect-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-redirect-loader-container > span {
  color: #2b388f;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 1.25em;
}

.login-redirect-loader-container .generic-error-display a {
  color: #a6278f;
}
.login-redirect-loader-container .generic-error-display a:hover {
  color: #cc3399;
}

.loginJoinMessage {
  text-align: center;
  border-top: 1px solid #d4d6dd;
  margin-top: 8px;
  padding: 8px;
}

/*
* Login Buttons
*/
.login-buttons-container {
  width: 240px;
}

.login-buttons-container .login-button {
  height: 40px;
  width: 100%;
  margin-bottom: 16px;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.218s ease;
}

.login-buttons-container .login-button:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.login-buttons-container .orcid-login-button {
  background-color: #fff;

  border: 1px solid #e0e1e6;
  border-radius: 1px;
  outline: none;

  color: #757575;
  font-family: Montserrat, sans-serif, sans-serif;
  font-size: 14px;

  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.login-buttons-container .orcid-login-button button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  margin: 0;
  padding: 0;

  line-height: 38px;
  vertical-align: middle;

  cursor: pointer;
}

.login-buttons-container .orcid-login-button:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.login-buttons-container .orcid-login-button button > img {
  display: block;
  float: left;

  width: 24px;
  height: 24px;
  margin: 7px;
  padding: 0;
}

.login-buttons-container .orcid-login-button button > span > em {
  font-style: normal;
  font-weight: 600;
}

.loginH2 {
  color: #2b388f;
  font-weight: 500;
  font-size: 28px;
  line-height: 0.87;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 9px;
}

.loginH3 {
  font-family: Montserrat, sans-serif;
  color: #2b388f;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0;
}
