.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 40px;
}
.loginContainer.disabled {
  margin-top: 11px;
}

.loginError {
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
