.footer {
  text-align: right;
  height: 52px;
  border-top: 1px solid #f0f0f0;
  padding: 10px;
  /* use negative margins to counter padding from the card container */
  margin: 24px -24px -24px;
}

.accept-btn {
  margin-left: 8px;
}

/* override */
.terms-and-conditions .ant-typography {
  color: #515885;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-buttons-wrapper {
  text-align: right;
}

.content-body-wrapper {
  overflow-y: scroll;
  height: 450px;
}
