.virtual-study-modal {
  max-width: 800px;
}

.virtual-studies-menu.container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.virtual-studies-menu.content {
  padding-left: 30px;
  padding-right: 30px;
}

.virtual-studies-menu .heading-with-study {
  color: #2b388f;
  padding-top: 3px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1150px;
}

.virtual-studies-menu .virtual-studies-action-bar > div {
  margin-left: 10px;
}

/* .virtual-studies-new */
/* .virtual-studies-open */
/* .virtual-studies-save */
/* .virtual-studies-delete */
/* .virtual-studies-share */

.virtual-studies-menu .new-button {
  margin-left: 5px;
}

.virtual-studies-menu .save-button .save-icon,
.virtual-studies-menu .delete-button .delete-icon {
  margin-top: -2px;
}

.virtual-studies-menu .save-button .save-text {
  margin-left: 5px;
}
