.copyModalRoot .wrapper {
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #cacbcf;
}
.copyModalRoot input:focus,
.copyModalRoot select:focus,
.copyModalRoot textarea:focus,
.copyModalRoot button:focus {
  outline: none;
}

.copyModalRoot div.verticalCenter {
  display: flex;
  flex-direction: vertical;
  align-items: center;
}

.copyModalRoot div.content {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
}
