.cavaticaAddProject-container {
  align-items: center;
  flex: 1;
}

.cavaticaAddProject-container > *:not(:first-child) {
  margin-left: 10px;
}

.cavaticaAddProject-container .createButton {
  font-size: 11.5px;
  border-radius: 19px;
}
.cavaticaAddProject-container .createButton:hover svg {
  fill: #ffffff;
}

.cavaticaAddProject-container .inputLabel {
  font-size: 12px;
  line-height: 2.39;
  align-items: center;
  color: #009bb8;
  text-transform: uppercase;
  min-width: 15%;
}
.cavaticaAddProject-container .inputLabel::after {
  margin-left: 13px;
  font-size: 1.5rem;
  content: '›';
  margin-top: -4px;
}

.cavaticaAddProject-container .addIcon {
  margin-top: 1px;
  margin-right: 4px;
  min-width: 1%;
  fill: #009bb8;
}
