.cssFileSummaryRoot {
  border: solid 1px #e0e1e6;
}

.cssFileSummaryRoot button.showDetailsButton {
  border: solid 2px #fff;
  background-color: rgb(237, 238, 241);
  font-size: 11px;
  color: #90278e;
  width: 100%;
  cursor: pointer;
  padding: 6px;
  /* The following was *maybe* commented out? */
  /*margin: 2px;*/
}

.cssFileSummaryRoot .filePermissions {
  padding: 15px;
}
.cssFileSummaryRoot .summary {
  display: flex;
  flex-direction: row;
}
.cssFileSummaryRoot .summary .block {
  display: flex;
  flex-direction: row;
}
.cssFileSummaryRoot .block {
  flex: 1;
  flex-direction: column;
  padding: 15px;
}
.cssFileSummaryRoot .right {
  border-left: solid 1px #e0e1e6;
}
.cssFileSummaryRoot .summaryLabel {
  font-size: 13px;
  color: rgb(52, 52, 52);
}
.cssFileSummaryRoot .summaryValue {
  padding-left: 20px;
}

.cssFileSummaryRoot .summaryValue .number {
  font-size: 18px;
  color: rgb(52, 52, 52);
  padding: 4px;
}
.cssFileSummaryRoot .summaryValue .text {
  font-size: 13px;
  color: #74757d;
  padding: 3px;
}
.cssFileSummaryRoot .details {
  display: flex;
  flex-direction: row;
  border-top: solid 1px #e0e1e6;
}
.cssFileSummaryRoot .details .block {
  padding-bottom: 0px;
}
.cssFileSummaryRoot .studyDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.cssFileSummaryRoot .studyDetails .number {
  font-weight: 500;
}
.cssFileSummaryRoot .studyName {
  padding-right: 25px;
}
.cssFileSummaryRoot .studyCount {
  white-space: nowrap;
}
