.grid-container {
  width: 100%;
  padding: 25px 150px 25px 150px;
}

.member-list-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.member-list {
  margin: 20px;
}

.h2-title{
    font-family: Montserrat,sans-serif;
    color: #2b388f;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.interest-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.member-list-col {
    align-content: center;
    align-items: center;
}

.format-label {
    padding-right: 5px;
    word-wrap: break-word;
    max-width: 100%;
}
div.flex {
    display: flex;
}

.comma:not(:last-of-type):after {
    content: ",";
}
.comma:nth-last-of-type(2):before {
    content: none;
}
.comma:nth-last-of-type(2):after {
    content: " and ";
}