.grid-container {
  width: 100%;
  padding: 25px 50px 25px 50px;
}

.member-list-container {
  margin-top: 32px;
  margin-bottom: 32px;
  border: solid 1px #d4d6dd;
  border-radius: 5px;
}

.member-list {
  margin: 0 32px 18px 32px;
}

.local-title {
  color: #2b388f;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4px;
}

.interest-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.member-list-col {
  align-content: center;
  align-items: center;
}

.format-label {
  padding-right: 5px;
  word-wrap: break-word;
  max-width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.icon-color {
  color: rgba(57, 69, 146, 0.5);
}

.icon-color.public {
  color: #32CD32;
}

.member-info-title {
  font-weight: bold;
}

.comma:not(:last-of-type):after {
  content: ',';
}
.comma:nth-last-of-type(2):before {
  content: none;
}

.comma:nth-last-of-type(2):after {
  content: ' and ';
}

.comma-address:not(:last-of-type):after {
  content: ',';
}
.comma-address:nth-last-of-type(2):before {
  content: none;
}

.background-container {
  background-color: rgb(244, 245, 248);
}

.tag-role {
  border-radius: 14px;
  height: 28px;
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: left;
  text-transform: capitalize;
  padding: 0 16px 0 0;
  width: 220px;
}

.search-members-Filter {
  padding: 0;
  border-radius: 0;
  border-bottom-width: 0;
}
