@import '../node_modules/antd/dist/antd.less'; // Import Ant Design styles by less entry

/**
* modifyVars
*     example : @primary-color: red;
*/

@layout-sider-background: #f4f5f8;

//Buttons
@btn-primary-bg: #009bb8;
@btn-primary-color: #ffffff;
@btn-default-color: #009bb8;

//Card
@card-head-background: #edeef1;
@card-padding-base: 32px;
@card-radius: 10px;

//Heading - Title
@heading-color: #2b388f;
//info: font-size-base: 14px;
@heading-1-size: ceil(@font-size-base * 2);
@heading-2-size: ceil(@font-size-base * 1.285);
@heading-3-size: ceil(@font-size-base * 1);
@typography-title-font-weight: 500;

// LINK
@link-color: #90278e;

// Tag
@tag-default-bg: #404c9a;
@tag-default-color: #fff;