@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:400,500,600,700');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  outline: none;
}

#root {
  height: 100%;
}

.dropDownButton {
  background-color: #fff;
}

a.bold {
  font-weight: 500;
}

a.bare {
  text-decoration: none;
}

a.primary {
  color: #90278e;
}

.appContainer {
  height: 100vh;
  overflow: auto;
}
.appContainer * {
  box-sizing: border-box;
}
h4.filter-title {
  font-weight: 700;
}

/* Temporary fix for the aggregation cards overflow */
.aggregation-card span.bucket-link {
  max-width: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* [NEXT] those should eventually come from the antd theme */
/* From the default theme */

/* Foreground colors */
.color-primary {
  color: #90278e;
}
.color-secondary {
  color: #2b388f;
}
.color-tertiary {
  color: #009bb8;
}
.color-white {
  color: #ffffff;
}

/* Foreground greys */
.greyScale11 {
  color: #a9adc0;
}
.greyScale10 {
  /* grey for table backgrounds */
  color: rgb(237, 238, 241);
}
.greyScale9 {
  /* rgb(116, 117, 125) dark grey text on greyScale5 */
  color: #74757d;
}
.greyScale8 {
  color: #d4d6dd;
}
.greyScale7 {
  color: rgb(107, 98, 98);
}
.greyScale6 {
  color: rgb(245, 245, 245);
}
.greyScale5 {
  color: #e0e1e6;
}
.greyScale4 {
  /* #d4d6dd */
  color: rgb(212, 214, 221);
}
.greyScale3 {
  /* not enough contrast on white background */
  color: rgb(144, 144, 144);
}
.greyScale2 {
  color: rgb(61, 61, 61);
}
.greyScale1 {
  /* #343434 */
  color: rgb(52, 52, 52);
}
.greyScale0 {
  color: rgb(36, 36, 36);
}

/* Background greys */
.bg-greyScale11 {
  background-color: #a9adc0;
}
.bg-greyScale10 {
  /* grey for table backgrounds */
  background-color: rgb(237, 238, 241);
}
.bg-greyScale9 {
  /* rgb(116, 117, 125) dark grey text on bg-greyScale5 */
  background-color: #74757d;
}
.bg-greyScale8 {
  background-color: #d4d6dd;
}
.bg-greyScale7 {
  background-color: rgb(107, 98, 98);
}
.bg-greyScale6 {
  background-color: rgb(245, 245, 245);
}
.bg-greyScale5 {
  background-color: #e0e1e6;
}
.bg-greyScale4 {
  /* #d4d6dd */
  background-color: rgb(212, 214, 221);
}
.bg-greyScale3 {
  /* not enough contrast on white background */
  background-color: rgb(144, 144, 144);
}
.bg-greyScale2 {
  background-color: rgb(61, 61, 61);
}
.bg-greyScale1 {
  /* #343434 */
  background-color: rgb(52, 52, 52);
}
.bg-greyScale0 {
  background-color: rgb(36, 36, 36);
}
.bg-white {
  color: #ffffff;
}

/* Border colors */
.border-grey {
  border-color: #cacbcf;
}

/*******************************************************************************/
/* relates to src/uikit/Tooltip.js */
.tippy-tooltip {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.tippy-tooltip,
.tippy-tooltip > * {
  background-color: white !important;
  color: rgb(61, 61, 61);
}
.tippy-tooltip[data-interactive] {
  padding: 0;
}

/*******************************************************************************/
/*  */
/*******************************************************************************/
.tag-round {
  border-radius: 10px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}