.header-title {
  height: 21px;
  color: rgb(57, 69, 146);
  font-size: 18px;
  font-weight: bold;
}

/** card */
.main-left-col {
  padding-right: 72px;

  border-right: 1px solid rgb(237, 238, 241);
  padding-left: 24px;
}

.extra-button {
  margin: 2px;
}

/** contact */
.contact-info-value {
  font-style: italic;
}

.contact-divider {
  margin: 10px 0;
}

[class~='contact-divider']:last-of-type {
  display: none;
}

.contact-edit-address-wrapper {
  background-color: rgb(237, 238, 241);
  border-radius: 10px;
  padding: 24px;
}

/** find me */
.find-me-col {
  display: flex;
  flex-direction: column;
}

.find-me-social-icons-wrapper {
  /* border-left: 1px solid rgb(237, 238, 241);*/
  margin-left: 20px;
}

.find-me-social-icons-wrapper-edit {
  /*border-left: 1px solid rgb(237, 238, 241);*/
  margin-left: 20px;
}

.find-me-text-if-empty {
  font-style: italic;
  text-align: center;
  margin: 0 25px 25px;
}

.contact-main {
  display: flex;
}

.contact-main-no-find-me {
  display: flex;
}


.find-me-col-contact-info {
  flex: 1;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.find-me-col-social {
  border-left: 1px solid rgb(237, 238, 241);
  width: 35%;
  margin-left: 15px;
}

.find-me-on-edit-label {
  padding-bottom: 24px;
}

/** profile */
.bio-story {
  font-style: italic;
  padding-bottom: 24px;
  color: rgba(57, 69, 146, 0.7);
}

.profile-divider {
  margin-bottom: 24px;
  color: rgba(57, 69, 146, 0.7);
}

.text-when-no-interests {
  font-style: italic;
}

.profile-status-row {
  height: 32px;
}

/** research interests (ri) */
.ri-icon {
  width: 16px;
  height: 16px;
  color: rgba(57, 69, 146, 0.5);
  padding-right: 25px;
}

.ri-row {
  padding-bottom: 15px;
}

.ri-tag-content {
  display: flex;
}

.ri-text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2px;
}

.ri-ro-text-wrapper {
  flex: 50%;
}

.ri-tag {
  max-width: 550px;
  border-radius: 12px;
  height: 24px;
  background: rgba(57, 69, 146, 0.08);
  color: rgb(144, 38, 142);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.17px;
  line-height: 21px;
}

.ri-check-icon {
  color: green;
}

/** about me (am) */
.am-profile-row {
  padding-bottom: 20px;
}

@media (min-width: 1680px) {
  .card-container {
    width: 70%;
  }
}

@media (max-width: 1679px) {
  .card-container {
    width: 100%;
  }
}

/** integration item (ii) */
.ii-card {
  max-width: 500px;
  border-radius: 10px;
}

.ii-row {
  display: grid;
  grid-template-columns: 150px 1fr 300px;
  grid-gap: 10px;
}

.ii-button-container {
  display: grid;
}

.ii-connect-button {
  margin-bottom: 5px;
}

.ii-button-common {
  justify-self: center;
  min-width: 150px;
}

.ii-button-action {
  color: white;
  background-color: #90278e;
}

.ii-error-button {
  margin-right: 5px;
  margin-top: 15px;
}

/** header */
.hd-main-row {
  height: 100%;
  padding-right: 175px;
  padding-left: 175px;
}

.hd-user-avatar-wrapper {
  display: flex;
  align-items: flex-end;
}

.hd-user-info-wrapper {
  display: flex;
  flex-direction: column;
}

.hd-edit-button {
  transform: translate(-25px, 5px);
  background-color: white;
  color: rgb(57, 69, 146);
}

.hd-profile-status {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.hd-profile-status-row {
  height: 45px;
}

.hd-text {
  color: white;
  font-size: 14px;
}

.hd-switch-bg-is-public {
  background-color: chartreuse;
}

.hd-switch-bg-is-not-public {
  background-color: darkgrey;
}

.hd-user-info-group {
  display: flex;
  align-items: center;
}

.hd-profile-wrapper {
  padding-left: 125px;
  height: 45px;
}

.hd-switch-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hd-tooltip-wrapper {
  padding-left: 10px;
}

.hd-switch {
  margin-left: 15px;
  margin-right: 15px;
}

/** repository integration (ri) */
.ri-divider {
  margin-bottom: 24px;
}

/** settings */
.settings-row-but-last {
  padding-bottom: 24px;
}

.settings-layout {
  display: flex;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 25px;
  background: #fff;
  height: 100%;
}

/** user profile (up)*/
.up-is-loading-layout {
  justify-content: center;
  background: #fff;
}

.up-spin {
  font-size: 48px;
}

.up-header {
  background-color: transparent;
  height: 180px;
  padding: 0;
}

.up-sider {
  background: #fff;
  border-right: 2px solid rgb(237, 238, 241);
}

.up-anchor-wrapper {
  text-align: right;
  padding-right: 10px;
  font-size: 24px;
  padding-bottom: 10px;
}

.up-menu-item-when-selected {
  color: rgb(232, 55, 155);
}

.up-menu-item-when-not-selected {
  color: rgb(57, 69, 146);
}

.up-menu-item-text {
  font-size: 18px;
  padding-right: 20px;
}

/** menu */
.menu-vertical-offset {
  padding-top: 38px;
}

.main-layout {
  background: #fff;
}

.vertical-offset {
  padding-top: 38px;
  padding-bottom: 150px;
}

.horizontal-offset {
  margin-left: 115px;
  margin-right: 115px;
}

.content-about-me-settings {
  max-width: 1300px;
}

/* find me input */
.fmi-icon-wrapper {
  margin-right: 10px;
}

.form-item-no-margin {
  margin: 0;
}

.section-text {
  font-size: 16px;
  color: rgb(57, 69, 146);
  font-weight: bold;
  height: 16px;
}

.contact-info-title {
  color: rgba(57, 69, 146);
  font-size: 14px;
  font-weight: bold;
}

.menu-border-right-override.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid rgb(232, 55, 155);
}
