@import 'src/style/themes/kids-first/colors';
@import 'src/style/themes/kids-first/layout';

.loginPageContent {
  padding: 40px;

  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: auto;

    .logoTitleContainer {
      text-align: center;

      .logotTitle {
        color: $gray-1;
        margin-bottom: 0;
        margin-top: 16px;
        font-size: 20px;
      }
    }

    .loginStats {
      background-color: $cyan-8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 16px 24px 24px 24px;

      .statsDivider {
        border-top: 1px solid $gray-7;
        margin: 12px 0;
      }

      .statsTitle {
        color: $cyan-4;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
      }

      > div {
        width: 100%;
      }
    }

    .loginHeader {
      display: flex;
      align-items: center;
    }

    .loginButtons {
      order: 4;
      display: flex;

      :global(.ant-btn-primary) {
        background-color: $gray-1;
        border: 1px solid $gray-1;
        border-radius: 2px;
        color: $cyan-7;

        &:hover {
          background-color: $gray-2;
        }

        &:active {
          background-color: $gray-3;
          border: 1px solid $gray-3;
        }
      }

      :global(.ant-btn-default) {
        background-color: $cyan-7;
        border: 1px solid $cyan-1;
        box-sizing: border-box;
        border-radius: 2px;
        color: $cyan-1;
        margin-left: 16px;

        &:hover {
          background-color: $cyan-6;
        }
      }

      :global(.ant-btn-primary):focus,
      :global(.ant-btn-default):focus {
        background-color: $cyan-8;
        border: 1px solid $cyan-1;
        color: $gray-1;
      }
    }

    .loginDescription {
      .loginDescTitle,
      .loginDescText {
        color: $gray-1;
      }

      .loginDescTitle {
        font-style: normal;
        font-weight: 600;

        .titleEmphase {
          color: $blue-4;
        }
      }

      .loginDescText {
        font-size: 16px;
        line-height: 24px;
      }
    }

    h1 {
      margin-left: 16px;
      line-height: 38px;
    }
  }
}

@media (min-width: 1181px) {
  .loginContainer {
    .logoTitleContainer {
      order: 2;
      align-items: center;
      display: flex;
    }
    .loginDescription {
      .loginDescTitle {
        font-size: 24px;
        line-height: 38px;
      }

      .loginDescText {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 1180px) {
  .loginContainer {
    .loginDescription {
      text-align: center;
      .loginDescTitle {
        font-size: 24px;
        line-height: 32px;
      }
    }
    .loginButtons {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 800px) {
  .loginPageContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 16px;
    .loginContainer {
      margin: unset;
      .loginDescription {
        .loginDescTitle,
        .loginDescText {
          color: $gray-1;
        }

        .loginDescTitle {
          text-align: center;

          .titleEmphase {
            color: $blue-4;
          }
        }

        .loginDescText {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .loginStatsLabel {
    width: 50%;
    margin-bottom: 16px;
  }

  .loginButtons {
    > div {
      width: 100%;

      [type='button'] {
        width: 100%;
      }
    }
  }
}
