.maintenancePageContainer {
  background-color: #e3f6fd;
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  line-height: 36px;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}

.maintenancePageContainer .content-container {
  background-color: #fff;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 100px;
  border-radius: 10px;
  border: 1px solid #e0e1e6;
  box-shadow: 0px 0px 9.5px 0.5px rgba(160, 160, 163, 0.25);
  z-index: 100;
  position: relative;
}
.maintenancePageContainer .content-container p {
  padding: 10px 50px;
}
.maintenancePageContainer h1,
.maintenancePageContainer h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #2b388f;
  font-size: 28px;
}
.maintenancePageContainer .background-img {
  position: absolute;
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .maintenancePageContainer .background-img {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.maintenancePageContainer h2 {
  font-size: 24px;
}

.maintenancePageContainer a,
.maintenancePageContainer a:visited,
.maintenancePageContainer a:active {
  color: #90278e;
  text-decoration: underline;
}
.maintenancePageContainer a:hover {
  color: #e83a9c;
}
.maintenancePageContainer .teal-copy {
  color: #009bb8;
  font-style: italic;
}

.maintenancePageContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
