.query {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #e0e1e6;
  transition-property: opacity;
}
.query.inactive {
  opacity: 0.6;
  pointer-events: none;
}
.query.inactive:last-child {
  border-bottom: 1px solid #e0e1e6;
}

.detail {
  color: rgb(52, 52, 52);
}
.queryLink {
  font-size: 14px;
  font-weight: 600;
  color: #90278e;
}
.detailBox {
  font-size: 12px;
  margin: 2px 0;
  color: rgb(52, 52, 52);
}
.detailHeading {
  color: #74757d;
}

.savedQueriesContainer {
  margin: 0 0 15px 0;
  flex: 3;
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.study {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #e0e1e6;
  transition-property: opacity;
}

.studyLink {
  font-size: 14px;
  font-weight: 600;
  color: #90278e;
}

.studyDeleteWrapper {
  color: #90278e;
}
.studyDeleteWrapper:hover {
  cursor: pointer;
  color: #c03299;
}

.scrollY {
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.studyDescription {
  font-size: 12px;
  word-break: break-word;
}

.studySavedTime {
  font-size: 12px;
  color: rgb(52, 52, 52);
}

.cardHeader {
  margin: 0 0 15px 0;
}
