@import '../../../style/themes/default/colors';
@import '../../../style/themes/default/global';

.saved-queries-container {
  display: contents;
}
.saved-queries-container {
  .ant-card-body {
    overflow: auto;
  }
}

.file-stats {
  margin-right: 8px;
}

.file-stats-icon {
  margin-right: 5px;
}

.ant-list-item-action {
  margin-left: 12px;
}

.title {
  color: $purple-6;
}

.time-ago {
  font-style: italic;
}
