.participantTabWrapper {
    display: flex;

    :global(.ant-pagination) {
        margin-bottom: 0;
    }

    .diagnosisCell, .phenotypeCell {
        min-width: 300px;
    }

    .studyIdCell {
        min-width: 85px
    }
}