.variantTag {
  color: var(--variant-tag-color);
  background-color: var(--variant-tag-bg-color);
  margin-right: 12px;
}

.titleTag {
  margin-right: 12px;
}

.somaticLink {
  text-decoration: underline;
}
.somaticLink:hover {
  text-decoration: none;
}

.frequencyParticipantLink {
  padding: 0;
}

.dotted {
  border-bottom: 1px dotted;
}

.titleIcon {
  font-size: 24px;
}

.symbolLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-right: 8px;
  color: var(--gray-8) !important;
}

.noGene {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-right: 8px;
  color: var(--gray-7) !important;
}

.ensemblLink {
  padding: 0 2px;
}

.tooltipIcon {
  padding-left: 4px;
}

.tooltip {
  border-bottom: 1px dotted;
}

.summaryConsequence {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.consequence {
  text-transform: capitalize;
}

.clinVar {
  white-space: wrap;
  text-decoration: underline;
  color: inherit;
}
.clinVar:hover {
  text-decoration: none;
}

.interpretation {
  white-space: wrap;
  color: inherit;
}

.participants {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.participants > a {
  text-decoration: underline;
  color: var(--gray-8);
}
.participants .frequency {
  padding-left: 4px;
}

.gnomad {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-8);
}

.popOverContent {
  max-width: 420px;
}

.seeMore {
  padding: 0 0 0 12px;
  height: auto;
  font-size: 12px;
}

.spliceAi {
  padding-right: 8px;
}

.pickedIcon {
  padding-left: 8px;
  color: var(--cyan-7);
}

.functionalScores {
  color: var(--geekblue-7);
}

.predictionLabel,
.conservationLabel {
  margin-right: 4px;
}

.canonicalIcon {
  color: var(--canonical-icon-color);
}

.expandedTable
  :global(
    .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container .ant-table-content
  )
  table
  > tbody
  > tr
  > td {
  background-color: var(--gray-1);
}

.contentWrapper
  :global(.ant-table-tbody > tr:nth-child(even):not(.ant-table-row-selected):not(:hover) td) {
  background-color: var(--gray-1);
}
