@import 'src/style/themes/kids-first/theme.template';

.variantTag {
  color: $variant-tag-color;
  background-color: $variant-tag-bg-color;
}

.frequencyParticipantLink {
  padding: 0;
}

.titleIcon {
  font-size: 24px;
}

.symbolLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-right: 8px;
  color: $gray-9;
}

.ensemblLink {
  padding: 0 2px;
}

.tooltipIcon {
  padding-left: 4px;
}

.consequence {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $gray-8;
}

.clinVar {
  white-space: wrap;
}

.participants {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $gray-9;

  > a {
    text-decoration: underline;
    color: $gray-9;
  }

  .frequency {
    padding-left: 4px;
  }
}

.gnomad {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $gray-9;
}

.popOverContent {
  max-width: 420px;
}

.seeMore {
  padding: 0 0 0 12px;
  height: auto;
  font-size: 12px;
}

.spliceAi {
  padding-right: 8px;
}
