@import 'src/style/themes/kids-first/theme.template';

.variantTag {
  color: $variant-tag-color;
  background-color: $variant-tag-bg-color;
}

.frequencyParticipantLink {
  padding: 0;
}

.titleIcon {
  font-size: 24px;
}
