@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;

@btn-default-color: @gray-8;
@btn-default-bg: @gray-1;
@btn-default-border: @gray-5;

@btn-disable-border: @gray-5;

@btn-default-ghost-color: @gray-6;
@btn-default-ghost-border: @gray-6;

@btn-text-hover-bg: @gray-2;

@btn-group-border: @cyan-8;

.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled] {
  border-left-color: @btn-disable-border;
}

.@{btn-prefix-cls} {
  &.iconRight {
    display: flex;
    align-items: center;
  }

  &-default {
    color: @cyan-7;

    &:hover {
      color: @cyan-7;
      background: @gray-2;
      border-color: @gray-5;
    }

    &:focus {
      color: @cyan-7;
      background: @gray-1;
      border-color: @cyan-7;
    }

    &.@{dropdown-prefix-cls}-open,
    &:active {
      color: @cyan-7;
      background: @gray-3;
      border-color: @gray-5;
    }
    &:focus-visible {
      color: @cyan-7;
      background: @gray-1;
      border-color: @cyan-7;
      box-shadow: 0 0 0 2px @gray-1, 0 0 0 4px @cyan-7;
    }

    &.@{btn-prefix-cls}-dangerous:not(:disabled) {
      color: @red-6;
      border-color: @red-6;

      &.@{btn-prefix-cls}-loading {
        color: @red-7;
        border-color: @red-7;
      }

      &:hover {
        background: @gray-2;
        color: @red-7;
        border-color: @red-7;
      }
      &:focus {
        color: @red-7;
        border-color: @red-7;
      }
      &:active {
        background: @gray-3;
        color: @red-8;
        border-color: @red-8;
      }
      &:focus-visible {
        border-color: @red-6;
        box-shadow: 0 0 0 2px @gray-1, 0 0 0 4px @red-6;
      }
    }

    &.@{btn-prefix-cls}-background-ghost {
      color: @gray-6;
      border-color: @gray-6;
      &:hover {
        color: @cyan-5;
        border-color: @cyan-5;
      }
      &:active {
        color: @cyan-5;
        border-color: @cyan-5;
      }

      &:focus,
      &:focus-visible {
        color: @cyan-5;
        border-color: @cyan-5;
        box-shadow: 0 0 0 2px @cyan-5;
      }

      &.@{btn-prefix-cls}-dangerous {
        color: @red-4;
        border-color: @red-4;
        background: transparent !important;

        &:hover {
          color: @red-5;
          border-color: @red-5;
        }
        &:active {
          color: @red-5;
          border-color: @red-5;
        }

        &:focus,
        &:focus-visible {
          color: @red-5;
          border-color: @red-5;
          box-shadow: 0 0 0 2px @red-5;
        }
      }
    }

    &[disabled] {
      background: @gray-3;
      color: @body-3;
    }
  }

  &-primary {
    &.@{btn-prefix-cls}-loading {
      color: @gray-1;
      background: @cyan-7;
    }

    &:hover {
      background: @cyan-6;
      border-color: @cyan-6;
    }
    &:focus {
      background: @cyan-8;
      border-color: @cyan-8;
    }
    &:active {
      background: @cyan-8;
      border-color: @cyan-8;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px @gray-1, 0 0 0 4px @cyan-7;
    }

    &.@{btn-prefix-cls}-dangerous {
      background: @red-6;

      &.@{btn-prefix-cls}-loading {
        color: @gray-1;
        background: @red-7;
      }

      &:hover {
        background: @red-7;
        border-color: @red-7;
      }
      &:focus {
        background: @red-6;
        border-color: @red-6;
      }
      &:active {
        background: @red-8;
        border-color: @red-8;
      }
      &:focus-visible {
        background: @red-6;
        box-shadow: 0 0 0 2px @gray-1, 0 0 0 4px @red-7;
      }
    }

    &.@{btn-prefix-cls}-background-ghost {
      color: @cyan-4;
      border-color: @cyan-4;
      background: transparent !important;

      &:hover {
        color: @cyan-5;
        border-color: @cyan-5;
      }
      &:active {
        color: @cyan-5;
        border-color: @cyan-5;
      }

      &:focus,
      &:focus-visible {
        color: @cyan-5;
        border-color: @cyan-5;
        box-shadow: 0 0 0 2px @cyan-5;
      }

      &.@{btn-prefix-cls}-dangerous {
        color: @red-4;
        border-color: @red-4;
        background: transparent !important;

        &:hover {
          color: @red-5;
          border-color: @red-5;
        }
        &:active {
          color: @red-5;
          border-color: @red-5;
        }

        &:focus,
        &:focus-visible {
          color: @red-5;
          border-color: @red-5;
          box-shadow: 0 0 0 2px @red-5;
        }
      }
    }

    &[disabled] {
      border-color: @body-3;
      color: @body-3;
    }
  }

  &-dashed {
    color: @cyan-7;

    &:hover {
      color: @cyan-7;
      background: @gray-2;
      border-color: @gray-5;
    }

    &:active {
      color: @cyan-7;
      background: @gray-3;
      border-color: @gray-5;
    }

    &:focus,
    &:focus-visible {
      color: @cyan-7;
      outline-style: dashed;
      outline-width: 2px;
      outline-color: @cyan-7;
    }

    &.@{btn-prefix-cls}-background-ghost {
      color: @gray-6;
      border-color: @gray-6;

      &:hover {
        color: @cyan-5;
        border-color: @cyan-5;
      }
      &:active {
        color: @cyan-5;
        border-color: @cyan-5;
      }

      &:focus,
      &:focus-visible {
        color: @cyan-5;
        border-color: @cyan-5;
        box-shadow: 0 0 0 2px @cyan-5;
      }

      &.@{btn-prefix-cls}-dangerous {
        color: @red-4;
        border-color: @red-4;
        background: transparent !important;

        &:hover {
          color: @red-5;
          border-color: @red-5;
        }
        &:active {
          color: @red-5;
          border-color: @red-5;
        }

        &:focus,
        &:focus-visible {
          color: @red-5;
          border-color: @red-5;
          box-shadow: 0 0 0 2px @red-5;
        }
      }
    }

    &[disabled] {
      background: @gray-3;
      border-color: @gray-5;
      color: @body-3;

      &:hover {
        color: @body-3;
      }
    }
  }

  &-text {
    color: @cyan-7;

    &:hover {
      color: @cyan-7;
      background: @gray-3;
    }

    &:active {
      color: @cyan-8;
      background: @gray-3;
    }

    &:focus,
    &:focus-visible {
      color: @cyan-7;
      background: @gray-2;
      box-shadow: 0 0 0 2px @cyan-7;
    }

    &.@{btn-prefix-cls}-dangerous:not(:disabled) {
      &:focus-visible {
        box-shadow: 0 0 0 2px @red-7;
      }
    }

    &[disabled] {
      color: @body-3;
    }
  }

  &-link {
    span {
      text-decoration: underline;
    }

    &:hover {
      color: @cyan-7;

      span {
        text-decoration: none !important;
      }
    }

    &:active {
      color: @cyan-8;

      span {
        text-decoration: none !important;
      }
    }

    &:focus,
    &:focus-visible {
      color: @cyan-7;
      box-shadow: 0 0 0 2px @cyan-7;

      span {
        text-decoration: none !important;
      }
    }

    &[disabled] {
      color: @body-3;
    }
  }
}
