@input-color-default: @geekblue-4;
@input-outline-offset: 0;

// ---- MIXINS ---- //
.input-status-mixins(@background, @color) {
  background: @background;
  border-color: @color;

  &:hover {
    border-color: @color;
  }

  &-active,
  &:focus,
  &-focused {
    background: @gray-1;
    border-color: @color;
    box-shadow: 0px 0px 4px rgba(red(@color), green(@color), blue(@color), 50%);
  }
}

.input-wrapper-status-mixins(@background, @color) {
  border-color: @color;
  background: @background;

  .@{input-prefix-cls} {
    background: @background;

    &-disabled {
      border-color: @gray-5 !important;
      background: @gray-3 !important;
      color: @gray-6;
    }

    &:active,
    &:focus {
      background: @gray-1;
    }
  }

  .@{input-prefix-cls}-clear-icon {
    color: @color;
  }

  .@{input-prefix-cls}-suffix,
  .@{input-prefix-cls}-prefix {
    color: @gray-6;
  }

  &:active,
  &-focused,
  &:focus {
    background: @gray-1;

    .@{input-prefix-cls} {
      background: @gray-1;
    }
  }
}

// ---- ELEMENTS ---- //
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0px 0px 4px
    rgba(red(@input-color-default), green(@input-color-default), blue(@input-color-default), 50%);
  border-color: @input-color-default;
}

.@{input-prefix-cls} {
  color: @gray-8;

  &::placeholder {
    color: @gray-6;
  }

  &[disabled] {
    border-color: @gray-5 !important;
    background: @gray-3 !important;
    color: @gray-6;
  }

  &:hover {
    border-color: @input-color-default;
  }

  &:focus,
  &-active,
  &-focused {
    border-color: @input-color-default;
    box-shadow: 0 0 4px
      rgba(red(@input-color-default), green(@input-color-default), blue(@input-color-default), 50%);
  }

  &-number-status-error:not(&-disabled):not(&-borderless).@{input-prefix-cls}-number,
  &-status-error:not(&-disabled):not(&-borderless)& {
    .input-status-mixins(@red-1, @red-8);
  }

  &-status-warning:not(&-disabled):not(&-borderless)& {
    .input-status-mixins(@orange-1, @orange-7);
  }

  &-affix,
  &-affix& {
    color: @gray-6;

    &-wrapper-disabled {
      border-color: @gray-5 !important;
      background: @gray-3 !important;
    }

    &-wrapper {
      .@{input-prefix-cls}-suffix,
      .@{input-prefix-cls}-prefix {
        color: @gray-6;
      }
    }

    &-wrapper:not(&-wrapper-disabled):hover {
      border-color: @input-color-default;
    }

    &-wrapper-focused:not(&-wrapper-disabled) {
      .input-wrapper-status-mixins(@gray-1, @input-color-default);
    }

    &-wrapper-status-error:not(&-wrapper-disabled):not(&-wrapper-borderless)&-wrapper {
      .input-wrapper-status-mixins(@red-1, @red-8);
    }

    &-wrapper-status-warning:not(&-wrapper-disabled):not(&-wrapper-borderless)&-wrapper {
      .input-wrapper-status-mixins(@orange-1, @orange-7);
    }
  }
}
