.@{pagination-prefix-cls} {
  &-item {
    color: @body-1;
    background-color: @gray-3;
    line-height: 24px;

    &-active a {
      color: @cyan-7;
      border-color: @cyan-7;
      background-color: @gray-1;
    }
  }

  &&-mini &-options {
    margin-left: 64px;
  }

  &-disabled {
    color: @body-3;
  }

  &-prev {
    color: @body-1;
  }

  &-next {
    color: @body-1;
  }
}
