.@{tag-prefix-cls} {
  border: none;
  background-color: @gray-4;

  &:last-child {
    margin-right: 0;
  }

  &-red,
  &-error {
    color: @red-9;
    background-color: @red-2;
  }

  &-cyan {
    color: @cyan-9;
    background-color: @cyan-2;
  }

  &-magenta {
    color: @magenta-9;
    background-color: @magenta-2;
  }

  &-blue,
  &-processing {
    color: @blue-9;
    background-color: @blue-2;
  }

  &-geekblue {
    color: @geekblue-9;
    background-color: @geekblue-2;
  }

  &-gold {
    color: @gold-9;
    background-color: @gold-2;
  }

  &-volcano {
    color: @volcano-9;
    background-color: @volcano-2;
  }

  &-green,
  &-success {
    color: @green-9;
    background-color: @green-2;
  }

  &-lime {
    color: @lime-9;
    background-color: @lime-2;
  }

  &-orange,
  &-warning {
    color: @orange-9;
    background-color: @orange-2;
  }

  &-purple {
    color: @purple-9;
    background-color: @purple-2;
  }
}
