.consent-container {
  justify-content: space-between;
  align-items: center;
}

.consent-container .terms {
  font-family: Open Sans, sans-serif;
  height: 300px;
  overflow-y: scroll;
}

.consent-container label {
  margin-left: 10px;
  font-size: 14px;
}

.consent-container .formParagraph {
  line-height: 26px;
  font-size: 14px;
}

.terms-paragraph {
  margin-top: 15px;
  margin-bottom: 10px;
}