.variantFilterWrapper {
  min-height: 100px;
  padding-bottom: 16px;
  .variantFilterContainer {
    margin-top: 8px;
  }
}

.expandButtonContainerVariant {
  display: grid;
  justify-content: end;
}
